<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Case Details</title>

	<meta name="description" content="SEO - is a Premium HTML Responsive Templeate by coderfirm Team.">
	<meta name="keywords" content="Premium HTML Template">
	<meta name="author" content="coderfirm">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- main css -->
	<link rel="stylesheet" type="text/css" href="/css/elegant-font.css">

	<!-- Bootstrap css	 -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
	<link rel="stylesheet" href="/owl.carousel/owl.carousel.css">
	<link rel="stylesheet" href="/owl.carousel/owl.theme.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
	

	<header>
		<div class="header-top text-center clearfix">
			<div class="col-sm-3 col-xs-6">
				<div class="header-top-content socials ul-li border-right">
					<ul>
						<li><a href="#"><i aria-hidden="true" class="social_facebook"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_googleplus"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_twitter"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_tumbleupon"></i></a></li>
					</ul>
				</div>
			</div>
			<!-- socials -->
			<div class="col-sm-3 hidden-xs">
				<div class="header-top-content mail border-right dark-gray-clr">
					<span><i aria-hidden="true" class="icon_mail_alt green-clr mr10"></i> info@sitename.com</span>
				</div>
			</div>
			<!-- mail -->
			<div class="col-sm-3 hidden-xs">
				<div class="header-top-content phone border-right dark-gray-clr">
					<span><i aria-hidden="true" class="icon_phone green-clr mr10"></i> +(850) 856 5612</span>
				</div>
			</div>
			<!-- phone -->
			<div class="col-sm-3 col-xs-6">
				<div class="header-top-content user-login">
					<div class="lumsum">
						<img src="/img/User-icon.png" alt="">
						<a class="dropdown-toggle dark-gray-clr" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">username<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Dropdown link</a></li>
							<li><a href="#">Dropdown link</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- user-login -->
		</div>

		<div class="cdf-menu">
			<div class="container">
				<div class="logo pull-left">
					<a href="#"><img src="/img/logo/logo.png" alt="logo"></a>
				</div>
				<!-- logo -->
				<div class="main-menu hidden-xs pull-right">
					<nav id="seo-menu" class="pull-left">
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="responsive-icon">
							<ul class="nav navbar-nav text-center">
								<li><a target="" href="index.html" class="info">Home</a></li>
								<li><a target="" href="about.html">About</a></li>
								<li class="parent-item"><a  target="" href="case-details.html">service</a>
									<ul class="sub-menu">
										<li><a href=".html">Action</a></li>
										<li><a href=".html">Another action</a></li>
										<li><a href=".html">Something else here</a></li>
									</ul>
								</li>
								<li><a target="" href="cases.html">cases</a></li>
								<li><a target="" href="blog-single.html">pages</a></li>
								<li><a target="" href="blog.html">blog</a></li>
								<li><a target="" href="contact.html">contact</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
					<!-- /#seo-menu -->

					<div class="cdf-search-button pull-left">
					<div id="sb-search" class="sb-search " >
					    <form>
						        <input class="sb-search-input " onkeyup="buttonUp();" placeholder="search here..." onblur="monkey();" type="search" value="" name="search" id="search">
						        <button class="search-submit" type="submit"  value=""><i class="icon_search"></i></button>
						        <span class="sb-icon-search"><i class="icon_search"></i><i class="icon_close"></i></span>
					    </form>
					</div>
						<a href="#">get audit</a>
					</div>
				</div>
				<!-- MAIN MENU END -->

				<div class="cdf-header">
					<div class="burger-container">
						<div id="burger">
							<div class="bar topBar"></div>
							<div class="bar btmBar"></div>
						</div>
					</div>
					<ul class="menu">
						<li class="menu-item"><a href="index-2.html">Home Page 2</a></li>
						<li class="menu-item"><a href="about.html">About</a></li>
						<li class="menu-item"><a href="404.html">Service</a></li>
						<li class="menu-item"><a href="case.html">Case</a></li>
						<li class="menu-item"><a href="case-details.html">Case Detail</a></li>
						<li class="menu-item"><a href="blog.html">Blog</a></li>
						<li class="menu-item"><a href="blog-single.html">Blog Single</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>



	<div class="page-breadcrumb">
		<div class="breadcrumb-overlay">
			<div class="container">
				<div class="row">
					<div class="cdf-breadcrumb ul-li text-center">
						<ul>
							<li><a title="Home" href="#">Home</a></li>
							<li class="active"><i class="arrow_carrot-2right" aria-hidden="true"></i>Case Details</li>
						</ul>
						<div class="page-header"><h2>404 error</h2></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="case-detail-section pt80 pb70">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="cdf-image">
						<img src="/img/cases/case-detail.jpg" alt="">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="member-info">
						<div class="cdf-client-name dark-gray-clr"><strong>CLIENT</strong> : Robert Jhon</div>
						<div class="cdf-client-designation dark-gray-clr"><strong>PROJECT TYPE</strong> : Digital Marketing</div>
						<div class="cdf-client-web dark-gray-clr"><strong>WEBSITE</strong> : www.themeforest.com</div>

						<div class="cdf-text mt40 ">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
						</div>
						<div class="cdf-btn cdf-btn-one pull-left"><a href="#">learn more</a></div>

						<div class="cdf-icon pull-right">
							<div class="member-social ul-li">
								<ul>
									<li><a href="#"><i class="social_facebook"></i></a></li>
									<li><a href="#"><i class="social_twitter"></i></a></li>
									<li><a href="#"><i class="social_googleplus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="solution-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="check-lists clearfix">
						<div class="cdf-title text-uppercase"><h2>solution</h2></div>
						<div class="cdf-text mb40 mt40"><p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem consectetur adipiscr.</p></div>
						<div class="cdf-list clearfix mb50">
							<ul>
								<li><i class="icon_check_alt2"></i>Increat Page Traffic</li>
								<li><i class="icon_check_alt2"></i>Convertion Rate</li>
								<li><i class="icon_check_alt2"></i>Google Page Rank</li>
								<li><i class="icon_check_alt2"></i>Content Development</li>
								<li><i class="icon_check_alt2"></i>On page Optimiztion</li>
								<li><i class="icon_check_alt2"></i>Of page Optimization</li>
							</ul>
						</div>
						<div class="preview-traffic clearfix">
							<div class="page-preview col-xs-6">
								<div class="cdf-icon"><i class="icon_adjust-vert"></i><strong>250%</strong></div>
								<div class="cdf-text"><p>ORGANIC TRAFFIC INCREASE</p></div>
							</div>
							<div class="page-traffic col-xs-6">
								<div class="cdf-icon"><i class="icon_adjust-vert"></i><strong>250%</strong></div>
								<div class="cdf-text"><p>ORGANIC TRAFFIC INCREASE</p></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="traffic-block clearfix">			
						<div class="cdf-title"><h2>Website Traffic</h2></div>

						<div class="tab ul-li">
							<ul class="tabs">
								<li><a href="#">Today</a></li>
								<li><a href="#">This Week</a></li>
								<li><a href="#">Last Week</a></li>
							</ul> <!-- / tabs -->

							<div class="tab_content">
								<div class="tabs_item">
									<div class="donut-chart-block block"> <!-- DONUT CHART BLOCK (LEFT-CONTAINER) -->
										<div class="donut-chart">
											<!-- DONUT-CHART by @kseso http://codepen.io/Kseso/pen/phiyL -->
											<div id="porcion1" class="recorte"><div class="quesito Registered" data-rel="21"></div></div>
											<div id="porcion2" class="recorte"><div class="quesito Visitors" data-rel="39"></div></div>
											<div id="porcion3" class="recorte"><div class="quesito Bounce" data-rel="31"></div></div>
											<!-- END DONUT-CHART by @kseso http://codepen.io/Kseso/pen/phiyL -->    
											<p class="center-date">Registered<br><span class="scnd-font-color">9012</span></p> 
										</div>
										<ul class="web-percentages clearfix">
											<li id="registered"><span></span>Registered</li>
											<li id="visitors"><span></span>Visitors</li>
											<li id="bounce"><span></span>Bounce</li>
										</ul>
									</div>
								</div> <!-- / tabs_item -->

								<div class="tabs_item">

									<div class="donut-chart-block block"> <!-- DONUT CHART BLOCK (LEFT-CONTAINER) -->
										<div class="donut-chart">
											<!-- DONUT-CHART by @kseso http://codepen.io/Kseso/pen/phiyL -->
											<div id="porcion1" class="recorte"><div class="quesito Registered" data-rel="21"></div></div>
											<div id="porcion2" class="recorte"><div class="quesito Visitors" data-rel="39"></div></div>
											<div id="porcion3" class="recorte"><div class="quesito Bounce" data-rel="31"></div></div>
											<!-- END DONUT-CHART by @kseso http://codepen.io/Kseso/pen/phiyL -->    
											<p class="center-date">Registered<br><span class="scnd-font-color">9012</span></p> 
										</div>
										<ul class="web-percentages clearfix">
											<li id="registered"><span></span>Registered</li>
											<li id="visitors"><span></span>Visitors</li>
											<li id="bounce"><span></span>Bounce</li>
										</ul>
									</div>
								</div> <!-- / tabs_item -->

								<div class="tabs_item">

									<div class="donut-chart-block block"> <!-- DONUT CHART BLOCK (LEFT-CONTAINER) -->
										<div class="donut-chart">
											<!-- DONUT-CHART by @kseso http://codepen.io/Kseso/pen/phiyL -->
											<div id="porcion1" class="recorte"><div class="quesito Registered" data-rel="21"></div></div>
											<div id="porcion2" class="recorte"><div class="quesito Visitors" data-rel="39"></div></div>
											<div id="porcion3" class="recorte"><div class="quesito Bounce" data-rel="31"></div></div>
											<!-- END DONUT-CHART by @kseso http://codepen.io/Kseso/pen/phiyL -->    
											<p class="center-date">Registered<br><span class="scnd-font-color">9012</span></p> 
										</div>
										<ul class="web-percentages clearfix">
											<li id="registered"><span></span>Registered</li>
											<li id="visitors"><span></span>Visitors</li>
											<li id="bounce"><span></span>Bounce</li>
										</ul>
									</div>
								</div> <!-- / tabs_item -->

							</div> <!-- / tab_content -->
						</div> <!-- / tab -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- solution -->

	<div class="more-cases-section pt80 pb70">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h2>MORE CASES</h2>
					<strong>CASES</strong>
				</div>

				<div class="more-case clearfix">
					<div class="case-carousel-2 owl-theme">
						<div class="project">
							<div class="cdf-image">
								<img src="/img/cases/case-1.jpg" alt="">
							</div>
							<div class="project-content">
								<div class="cdf-title">
									<h2><a href="#">Project Title</a></h2>
								</div>
								<ul class="post-meta">
									<li><a href="#"><img src="/img/icons/like.png" alt=""> </a><span>25</span></li>
								</ul>
							</div>
						</div>
						<div class="project">
							<div class="cdf-image">
								<img src="/img/cases/case-1.jpg" alt="">
							</div>
							<div class="project-content">
								<div class="cdf-title">
									<h2><a href="#">Project Title</a></h2>
								</div>
								<ul class="post-meta">
									<li><a href="#"><img src="/img/icons/like.png" alt=""> </a><span>25</span></li>
								</ul>
							</div>
						</div>
						<div class="project">
							<div class="cdf-image">
								<img src="/img/cases/case-6.jpg" alt="">
							</div>
							<div class="project-content">
								<div class="cdf-title">
									<h2><a href="#">Project Title</a></h2>
								</div>
								<ul class="post-meta">
									<li><a href="#"><img src="/img/icons/like.png" alt=""> </a><span>25</span></li>
								</ul>
							</div>
						</div>
						<div class="project">
							<div class="cdf-image">
								<img src="/img/cases/case-3.jpg" alt="">
							</div>
							<div class="project-content">
								<div class="cdf-title">
									<h2><a href="#">Project Title</a></h2>
								</div>
								<ul class="post-meta">
									<li><a href="#"><img src="/img/icons/like.png" alt=""> </a><span>25</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="cdf-btn "><a href="#"><i class="icon_grid-2x2"></i>all cases</a></div>
				</div>

			</div>
		</div>	
	</div>

	<footer>
		<div class="footer-widget-section">
			<div class="footer-overlay">
				<div class="container">
					<div class="row">
						<div class="footer-logo text-center mb70"><a href="#"><img src="/img/footer/logo.png" alt="logo"></a></div>
						<div class="col-md-3 col-xs-6  iphone5-full-width">
							<div class="footer-widget about-us">
								<div class="footer-widget-title">
									<h2>about us</h2>
								</div>
								<div class="footer-widget-text margin-bottom20">
									<p>Lorem ipsum dolor sit amet labore dolor consectetur adipisicing elit sed do eiusmod tempor incididunt ut.</p>
								</div>
								<!-- footer-widget-text -->
								<div class="address margin-bottom20 ul-li-block">
									<ul>
										<li class="address"><a href="#"><i class="icon_pin_alt"></i>35 North Road, NY</a></li>
										<li class="phone"><a href="#"><i class="icon_phone"></i>+(550) 325 2567</a></li>
										<li class="mail"><a href="#"><i class="icon_mail_alt"></i>info@sitename.com</a></li>
									</ul>
								</div>
								<!-- footer-widget-address -->
							</div>
						</div>
						<!-- col-md-3 col-sm-6 -->

						<div class="col-md-3 col-xs-6 iphone5-full-width">
							<div class="footer-widget widget-link-list">
								<div class="footer-widget-title">
									<h2>quick links</h2>
								</div>
								<div class="quick-link ul-li-block">
									<ul>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Faq & Help</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Privacy Policy</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>9 Payment Method</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Sitemap</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Terms & Condition</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 col-sm-6 -->
						<div class="col-md-3 col-xs-6 pr0 mobile-full-width">
							<div class="footer-widget">
								<div class="footer-widget-title">
									<h2>RECENT POSTS</h2>
								</div>
								<div class="recent-post ul-li-block">
									<ul>
										<li>
											<div class="cdf-image pull-left mr12">
												<img src="/img/footer/post-image-1.jpg" alt="">
												<div class="cdf-icon"><i class="icon_link"></i></div>
												<div class="ovrly"></div>
											</div>
											<div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
											<ul class="post-meta">
												<li><a href="#">AUG 19,2016 </a></li>
											</ul>
										</li>
										<li>
											<div class="cdf-image pull-left mr12">
												<img src="/img/footer/post-image-2.jpg" alt="">
												<div class="cdf-icon"><i class="icon_link"></i></div>
												<div class="ovrly"></div>
											</div>
											<div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
											<ul class="post-meta">
												<li><a href="#">AUG 19,2016 </a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 col-sm-6 -->
						<div class="col-md-3 col-xs-6  mobile-full-width">
							<div class="footer-widget news-letter">
								<div class="footer-widget-title">
									<h2>newsletter</h2>
								</div>
								<div class="footer-widget-text margin-bottom20">
									<p>Get Newsletter Updates eventually!</p>
								</div>
								<form action="#" method="get" class="newsletter">
									<div class="form-group ">                                     
										<input type="email" name="email" placeholder="E-mail" class="form-control"> 
										<button type="submit"><i class="arrow_right"></i></button>
									</div>
								</form>
								<div class="social mt50 ul-li">
									<ul>
										<li><a href=""><i class="social_facebook"></i></a></li>
										<li><a href=""><i class="social_twitter"></i></a></li>
										<li><a href=""><i class="social_googleplus"></i></a></li>
										<li><a href=""><i class="social_tumblr"></i></a></li>
									</ul>
								</div>
								<!-- footer-widget-social -->
							</div>

						</div>
						<!-- col-md-3 col-sm-6 -->
					</div> 
				</div>
				<div class="footer-bottom">
					<div class="container">
						<div class="Copyright text-center"><p><span>WOLFSEO</span> designed by <a href="">CODER  FIRM </a>Copyright &copy; 2016. All right reserved. </p></div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	
        <!-- Vendor js -->
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap js  -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- Owl carousel  -->
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>   
    <!--  countdown  -->
    <script type="text/javascript" src="/js/jquery.countdown.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="/js/waypoints.min.js"></script>
    <!--  magnific  -->
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/js/mixitup.min.js"></script>

<script src="/js/jquery.themepunch.revolution.min.js"></script>
<script src="/js/jquery.themepunch.tools.min.js"></script>
<script src="/js/revolution.extension.slideanims.min.js"></script>
<script src="/js/revolution.extension.layeranimation.min.js"></script>
<script src="/js/revolution-slider.js"></script>
<!-- main js -->
<script src="/js/scripts.js"></script>
</body>
</html>