<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SEO</title>
	<meta name="description" content="SEO - is a Premium HTML Responsive Templeate by coderfirm Team.">
	<meta name="keywords" content="Premium HTML Template">
	<meta name="author" content="coderfirm">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- main css -->
	<link rel="stylesheet" type="text/css" href="/css/elegant-font.css">

	<!-- Bootstrap css	 -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
	<link rel="stylesheet" href="/owl.carousel/owl.carousel.css">
	<link rel="stylesheet" href="/owl.carousel/owl.theme.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
	<!-- Header -->
	<header id="lumsum">
		<div class="header-top text-center clearfix">
			<div class="col-sm-3 col-xs-6">
				<div class="header-top-content socials ul-li border-right">
					<ul>
						<li><a href="#"><i aria-hidden="true" class="social_facebook"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_googleplus"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_twitter"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_tumbleupon"></i></a></li>
					</ul>
				</div>
			</div>
			<!-- socials -->
			<div class="col-sm-3 hidden-xs">
				<div class="header-top-content mail border-right dark-gray-clr">
					<span><i aria-hidden="true" class="icon_mail_alt green-clr mr10"></i> info@sitename.com</span>
				</div>
			</div>
			<!-- mail -->
			<div class="col-sm-3 hidden-xs">
				<div class="header-top-content phone border-right dark-gray-clr">
					<span><i aria-hidden="true" class="icon_phone green-clr mr10"></i> +(850) 856 5612</span>
				</div>
			</div>
			<!-- phone -->
			<div class="col-sm-3 col-xs-6">
				<div class="header-top-content user-login">
					<div class="lumsum">
						<img src="/img/User-icon.png" alt="">
						<a class="dropdown-toggle dark-gray-clr" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">username<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Dropdown link</a></li>
							<li><a href="#">Dropdown link</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- user-login -->
		</div>

		<div class="cdf-menu">
			<div class="container">
				<div class="logo pull-left">
					<a href="#"><img src="/img/logo/logo.png" alt="logo"></a>
				</div>
				<!-- logo -->
				<div class="main-menu hidden-xs pull-right">
					<nav id="seo-menu" class="pull-left">
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="responsive-icon">
							<ul class="nav navbar-nav text-center">
								<li><a target="" href="index-2.html" class="info">Home</a></li>
								<li><a target="" href="about.html">About</a></li>
								<li class="parent-item"><a  target="" href="case-details.html">service</a>
									<ul class="sub-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
									</ul>
								</li>
								<li><a target="" href="cases.html">cases</a></li>
								<li><a target="" href="blog-single.html">pages</a></li>
								<li><a target="" href="blog.html">blog</a></li>
								<li><a target="" href="contact.html">contact</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
					<!-- /#seo-menu -->

					<div class="cdf-search-button pull-left">
						<div id="sb-search" class="sb-search " >
							    <form>
								        <input class="sb-search-input " onkeyup="buttonUp();" placeholder="search here..." onblur="monkey();" type="search" value="" name="search" id="search">
								        <button class="search-submit" type="submit"  value=""><i class="icon_search"></i></button>
								        <span class="sb-icon-search"><i class="icon_search"></i><i class="icon_close"></i></span>
							    </form>
						</div>
						<a href="#">get audit</a>
					</div>
				</div>
				<!-- MAIN MENU END -->

				<div class="cdf-header">
					<div class="burger-container">
						<div id="burger">
							<div class="bar topBar"></div>
							<div class="bar btmBar"></div>
						</div>
					</div>
					<ul class="menu">
						<li class="menu-item"><a href="index-2.html">Home Page 2</a></li>
						<li class="menu-item"><a href="about.html">About</a></li>
						<li class="menu-item"><a href="404.html">Service</a></li>
						<li class="menu-item"><a href="case.html">Case</a></li>
						<li class="menu-item"><a href="case-details.html">Case Detail</a></li>
						<li class="menu-item"><a href="blog.html">Blog</a></li>
						<li class="menu-item"><a href="blog-single.html">Blog Single</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- Header / End -->

	<!-- rev Slider / End -->
	<div class="seo-main-slider">
		<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="seo-slider" style="background-color:transparent;padding:0px;">
			<!-- START REVOLUTION SLIDER 5.2.6 fullwidthbanner mode -->
			<div id="rev_slider_1_1" class="rev_slider " style="display:none;" data-version="5.2.6">
				<ul>	
					<!-- SLIDE  -->
					<li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="/img/GUARANTEE.jpg"  alt="" title="guarantee"  width="1920" height="770" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 1 -->
						<div class="tp-caption   tp-resizeme" 
						id="slide-1-layer-2" 
						data-x="101" 
						data-y="331" 
						data-width="['auto']"
						data-height="['auto']"
						data-transform_idle="o:1;"

						data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:730;e:Power4.easeInOut;" 
						data-transform_out="x:200px;skX:-85px;opacity:0;s:280;e:Power2.easeInOut;" 
						data-mask_in="x:0px;y:0px;" 
						data-start="510.00030517578" 
						data-splitin="chars" 
						data-splitout="none" 
						data-responsive_offset="on" 

						data-elementdelay="0.05" 
						data-end="8660.0003051758" 

						style="z-index: 5; white-space: nowrap; font-size: 52px; line-height: 50px; font-weight: 400; color: rgba(30, 188, 97, 1.00);">INCREAS YOUR </div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption   tp-resizeme" 
						id="slide-1-layer-3" 
						data-x="106" 
						data-y="301" 
						data-width="['auto']"
						data-height="['auto']"
						data-transform_idle="o:1;"

						data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:510;e:Power3.easeInOut;" 
						data-transform_out="x:[100%];s:650;e:Power3.easeInOut;" 
						data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
						data-start="1250.0003051758" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on" 

						data-end="8320.0003051758" 

						style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">ONLINE GRAPH </div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption   tp-resizeme" 
						id="slide-1-layer-4" 
						data-x="100" 
						data-y="404" 
						data-width="['503']"
						data-height="['130']"
						data-transform_idle="o:1;"

						data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:720;e:Power3.easeInOut;" 
						data-transform_out="x:50px;opacity:0;s:280;" 
						data-start="1720.0003051758" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on" 

						data-end="8720.0003051758" 

						style="z-index: 7; min-width: 503px; max-width: 503px; max-width: 130px; max-width: 130px; white-space: normal; font-size: 20px; line-height: 28px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">Lorem ipsum dolor sit amet consectetur adipisicing elit seddo eiusmod tempor incididunt utlabore etdolore magna aliqua adipisicing elit sed do eiusmod. </div>

						<div class="tp-caption   tp-resizeme" 
						id="slide-1-layer-5" 
						data-x="620" 
						data-y="200" 
						data-width="['500','300','300','300']"
						data-height="['500','300','300','300']"
						data-transform_idle="o:1;"

						data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
						data-transform_out="y:50px;opacity:0;s:300;" 
						data-start="1720.0003051758" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on" 

						data-end="8720.0003051758" 

						style="z-index: 7;">
						<img src="/img/breadcrumb/breadcrumb.jpg" alt="" width="720" height="380" data-ww="['530','370','370','260']" data-hh="['450','170','200','150']" data-lazyload="/img/seo_services.png" data-no-retina>
					</div>
				</li>
				<!-- SLIDE  -->
				<li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="o"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
					<!-- MAIN IMAGE -->
					<img src="/img/Untitled-3.jpg"  alt="" title="untitled-3"  width="1920" height="900" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption   tp-resizeme" 
					id="slide-2-layer-1" 
					data-x="692" 
					data-y="211" 
					data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
					data-transform_idle="o:1;"
					data-transform_in="y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;s:1710;e:Power3.easeOut;" 
					data-transform_out="x:[100%];s:770;e:Power3.easeInOut;" 
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
					data-start="500.00030517578" 
					data-responsive_offset="on" 
					data-end="8140.0003051758" 
					style="z-index: 5;"><img src="/img/Untitled-3.jpg" alt="" width="529" height="447" data-ww="529px" data-hh="447px" data-no-retina> </div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption   tp-resizeme" 
					id="slide-2-layer-2" 
					data-x="101" 
					data-y="331" 
					data-width="['auto']"
					data-height="['auto']"
					data-transform_idle="o:1;"
					data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:730;e:Power4.easeInOut;" 
					data-transform_out="x:200px;skX:-85px;opacity:0;s:280;e:Power2.easeInOut;" 
					data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
					data-start="510.00030517578" 
					data-splitin="chars" 
					data-splitout="none" 
					data-responsive_offset="on" 
					data-elementdelay="0.05" 
					data-end="8660.0003051758" 
					style="z-index: 6; white-space: nowrap; font-size: 52px; line-height: 52px; font-weight: 400; color: rgba(30, 188, 97, 1.00);">INCREAS YOUR </div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption   tp-resizeme" 
					id="slide-2-layer-3" 
					data-x="106" 
					data-y="301" 
					data-width="['auto']"
					data-height="['auto']"
					data-transform_idle="o:1;"
					data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:510;e:Power3.easeInOut;" 
					data-transform_out="x:[100%];s:650;e:Power3.easeInOut;" 
					data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
					data-start="1250.0003051758" 
					data-splitin="none" 
					data-splitout="none" 
					data-responsive_offset="on" 
					data-end="8320.0003051758" 
					style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">ONLINE GRAPH </div>
					<!-- LAYER NR. 4 -->
					<div class="tp-caption   tp-resizeme" 
					id="slide-2-layer-4" 
					data-x="100" 
					data-y="404" 
					data-width="['503']"
					data-height="['130']"
					data-transform_idle="o:1;"
					data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:720;e:Power3.easeInOut;" 
					data-transform_out="x:50px;opacity:0;s:280;" 
					data-start="1720.0003051758" 
					data-splitin="none" 
					data-splitout="none" 
					data-responsive_offset="on" 
					data-end="8720.0003051758" 
					style="z-index: 8; min-width: 503px; max-width: 503px; max-width: 130px; max-width: 130px; white-space: normal; font-size: 20px; line-height: 28px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">Lorem ipsum dolor sit amet consectetur adipisicing elit seddo eiusmod tempor incididunt utlabore etdolore magna aliqua adipisicing elit sed do eiusmod. </div>
					<div class="tp-caption   tp-resizeme" 
					id="slide-2-layer-5" 
					data-x="620" 
					data-y="200" 
					data-width="['500','300','300','300']"
					data-height="['500','300','300','300']"
					data-transform_idle="o:1;"
					data-transform_in="y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;s:1710;e:Power3.easeOut;" 
					data-transform_out="x:[100%];s:770;e:Power3.easeInOut;" 
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
					data-start="500.00030517578" 
					data-responsive_offset="on" 
					data-end="8140.0003051758"
					style="z-index: 7;"><img src="/img/breadcrumb/breadcrumb.jpg" alt="" width="720" height="380" data-ww="['530','370','370','260']" data-hh="['450','170','200','150']" data-lazyload="/img/seo-icon-services.png" data-no-retina></div>
				</li>
				<!-- SLIDE  -->
				<li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
					<!-- MAIN IMAGE -->
					<img src="/img/Untitled-3.jpg"  alt="" title="untitled-3"  width="1920" height="900" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption   tp-resizeme" 
					id="slide-3-layer-2" 
					data-x="328" 
					data-y="307" 
					data-width="['auto']"
					data-height="['auto']"
					data-transform_idle="o:1;"

					data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:730;e:Power4.easeInOut;" 
					data-transform_out="x:200px;skX:-85px;opacity:0;s:280;e:Power2.easeInOut;" 
					data-mask_in="x:0px;y:0px;" 
					data-start="510.00030517578" 
					data-splitin="chars" 
					data-splitout="none" 
					data-responsive_offset="on" 

					data-elementdelay="0.05" 
					data-end="8660.0003051758" 

					style="z-index: 5; white-space: nowrap; font-size: 100px; line-height: 100px; font-weight: 700; color: rgba(30, 188, 97, 1.00);">INCREAS YOUR </div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption   tp-resizeme" 
					id="slide-3-layer-3" 
					data-x="495" 
					data-y="266" 
					data-width="['auto']"
					data-height="['auto']"
					data-transform_idle="o:1;"

					data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:510;e:Power3.easeInOut;" 
					data-transform_out="x:[100%];s:650;e:Power3.easeInOut;" 
					data-mask_in="x:0px;y:0px;" 
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
					data-start="1250.0003051758" 
					data-splitin="none" 
					data-splitout="none" 
					data-responsive_offset="on" 

					data-end="8320.0003051758" 

					style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 51px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">ONLINE GRAPH </div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption   tp-resizeme" 
					id="slide-3-layer-4" 
					data-x="center" data-hoffset="75" 
					data-y="bottom" data-voffset="148" 
					data-width="['1028']"
					data-height="['253']"
					data-transform_idle="o:1;"

					data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:720;e:Power3.easeInOut;" 
					data-transform_out="x:50px;opacity:0;s:280;" 
					data-start="1720.0003051758" 
					data-splitin="none" 
					data-splitout="none" 
					data-responsive_offset="on" 

					data-end="8720.0003051758" 

					style="z-index: 7; min-width: 1028px; max-width: 1028px; max-width: 253px; max-width: 253px; white-space: normal;text-align: center; font-size: 20px; line-height: 28px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </div>
				</li>
			</ul>
			<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
		</div>
	</div>
</div>
<!-- Header / End -->


<!-- service-section -->
<div class="service-section pt70 pb40">
	<div class="container">
		<div class="row">
			<div class="section-title">
				<span>our best</span>
				<h2>service</h2>
				<strong>s</strong>
			</div>
			<!-- section-title -->
			<div class="col-md-3 col-sm-6">
				<div class="item-box effect-1">
					<div class="box-overlay">
						<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_easel"></i></div>
						<div class="cdf-title mb25"><h2>Web Analytics</h2></div>
						<div class="cdf-post-count">01<span></span></div>
						<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
					</div>
				</div>
				<!-- item-box -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="item-box effect-1">
					<div class="box-overlay">
						<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_globe-2"></i></div>
						<div class="cdf-title mb25"><h2>SEO SERVICES</h2></div>
						<div class="cdf-post-count">02<span></span></div>
						<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
					</div>
				</div>
				<!-- item-box -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="item-box effect-1">
					<div class="box-overlay">
						<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_mail_alt"></i></div>
						<div class="cdf-title mb25"><h2>EMAIL MARKETING</h2></div>
						<div class="cdf-post-count">03<span></span></div>
						<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
					</div>
				</div>
				<!-- item-box -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="item-box effect-1">
					<div class="box-overlay">
						<div class="cdf-icon mb25"><i aria-hidden="true" class="social_share"></i></div>
						<div class="cdf-title mb25"><h2>SOCIAL MEDIA</h2></div>
						<div class="cdf-post-count">04<span></span></div>
						<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
					</div>
				</div>
				<!-- item-box -->
			</div>
		</div>
	</div>
</div>
<!-- service-section / End  -->

<!-- about-us-section  -->
<div class="about-us-section pt70 pb70">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 padding0">
				<div class="cdf-post-style-101">
					<div class="cdf-title mb80">
						<h2 class="watermark">
							<span class="wmo">a</span>
							<span class="wm">Our 15 Yeas of Expecience<br> Helps <a href="#">You to Grow Web</a> Ranking</span>
						</h2>
					</div>
					<div class="cdf-text mb60">
						<p>Lorem ipsum dolopr sitamet consectetur adipisicing elitvsed doeiusmod incididunt utlabore et dolore magna aliqua. Utenim admnim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat. Duis aute irure dolor ireprehenderit labore etdolore magna tempory.</p>
					</div>
					<div class="cdf-btn cdf-btn-one"><a href="#">learn more</a></div>
				</div>
				<!-- cdf-post-style-101 -->
			</div>
			<div class="col-sm-6 padding0">

				<div class="clear-slider">
					<input type="radio" class="slider-point-1" name="slider" checked>
					<span>1</span>
					<input type="radio" class="slider-point-2" name="slider">
					<span>2</span>
					<input type="radio" class="slider-point-3" name="slider">
					<span>3</span>
					<ul>
						<li><img src="/img/service/service.jpg" alt="">
							<div class="cdf-icon"><a href="https://www.youtube.com/watch?v=HM3O7rn3aqA" class="popup-youtube"><img src="/img/icons/tv-show.png" alt=""></a></div>
						</li>
						<li><img src="/img/progress/progress.jpg" alt="">
							<div class="cdf-icon"><a href="#"><img src="/img/icons/tv-show.png" alt=""></a></div>
						</li>
						<li><img src="/img/service/service.jpg" alt="">
							<div class="cdf-icon"><a href="#"><img src="/img/icons/tv-show.png" alt=""></a></div>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- about-us-section / End  -->

<!-- contact-section -->
<div class="contact-section">
	<div class="overlay pt80 pb80 text-center">
		<div class="container">
			<div class="row">
				<div class="cdf-icon text-center mb45">
					<img src="/img/icons/Note-50.png" alt="">
				</div>
				<div class="cdf-title mb10"><h3>GET CALL BACK</h3></div>
				<div class="cdf-number mb40"><h2>+880 - 273 - 7596</h2></div>

				<div class="contact-forn">
					<form action="#" method="post">
						<div class="discussion-info">
							<div class="col-sm-3">
								<input type="text" class="form-control" name="name" placeholder="Name*" value="">
							</div>
							<div class="col-sm-3">
								<input type="text" name="email" class="form-control" placeholder="Email*">
							</div>
							<div class="col-sm-3">
								<input type="text" name="web" class="form-control" placeholder="http://">
							</div>
						</div>
						<div class="discussion-type col-sm-3">
							<select>
								<option value="volvo" selected>Discussion Subject?</option>
								<option value="saab">Business</option>
								<option value="vw">Business 1</option>
								<option value="audi">Business 2</option>
							</select>
						</div>
						<div class="cdf-btn cdf-btn-one submit mt50 display-inline">
							<button type="submit">GET CALL BACK</button>
						</div>
					</form>
				</div>



			</div>
		</div>
	</div>
</div>
<!-- contact-section  / End -->

<!-- case-study-section -->
<div class="case-study-section pt80">
	<div class="container">
		<div class="section-title">
			<span>MOST RECENT</span>
			<h2>CASE STUDIES</h2>
			<strong>s</strong>
		</div>
		<!-- section-title -->
		<div class="all-case clearfix">
			<div class="col-sm-4 padding0 text-center">
				<div class="cdf-post relative first-effect">
					<div class="cdf-image">
						<img src="/img/cases/case.jpg" alt="">
					</div>
					<!-- image -->
					<div class="mask">
						<div class="cdf-content">
							<div class="cdf-sub-title mb10"><h3>SOCIAL MEDIA</h3></div>
							<div class="cdf-title"><h2><a href="#">CASE STUDIES</a></h2></div>
							<div class="cdf-icon mt25">	<i class="arrow_left-right_alt white-clr"></i></div>
						</div>
					</div>
				</div>
				<!-- cdf-post -->
			</div>
			<div class="col-sm-4 padding0 text-center">
				<div class="cdf-post relative first-effect">
					<div class="cdf-image">
						<img src="/img/cases/case-2.jpg" alt="">
					</div>
					<!-- image -->
					<div class="mask">
						<div class="cdf-content">
							<div class="cdf-sub-title mb10"><h3>SOCIAL MEDIA</h3></div>
							<div class="cdf-title"><h2><a href="#">CASE STUDIES</a></h2></div>
							<div class="cdf-icon mt25">	<i class="arrow_left-right_alt white-clr"></i></div>
						</div>
					</div>
				</div>
				<!-- cdf-post -->
			</div>
			<div class="col-sm-4 padding0 text-center">
				<div class="cdf-post relative first-effect">
					<div class="cdf-image">
						<img src="/img/cases/case.jpg" alt="">
					</div>
					<!-- image -->
					<div class="mask">
						<div class="cdf-content">
							<div class="cdf-sub-title mb10"><h3>SOCIAL MEDIA</h3></div>
							<div class="cdf-title"><h2><a href="#">CASE STUDIES</a></h2></div>
							<div class="cdf-icon mt25">	<i class="arrow_left-right_alt white-clr"></i></div>
						</div>
					</div>
				</div>
				<!-- cdf-post -->
			</div>
		</div>
	</div>
</div>
<!-- case-study-section / End  -->

<!-- acheivement seection -->
<div class="acheivement-section pt80 pb80">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="cdf-post">
					<div class="cdf-content">
						<div class="cdf-sub-title"><h3>REMARKABLE</h3></div>
						<div class="cdf-title mb30"><h2>ACHEIVEMENTS</h2></div>
						<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua t enim ad minim consectetur.</p></div>
					</div>
				</div>
				<!-- cdf-post -->
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-sm-4">
						<div class="cdf-post">
							<div class="counter-item">
								<div class="cdf-image-icon pull-left">
									<img src="/img/acheivement/client-icon.png" alt="">
									<h2 class="counter">250</h2>
								</div>
								<!-- image -->
								<span>HAPPY CLIETNS</span>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="cdf-post">
							<div class="counter-item">		
								<div class="cdf-image-icon pull-left">
									<img src="/img/acheivement/acheivement-icon.png" alt="">
									<h2 class="counter">123</h2>		
								</div>
								<!-- image -->
								<span>PROJECTS DONE</span>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="cdf-post">
							<div class="counter-item">
								<div class="cdf-image-icon pull-left">
									<img src="/img/acheivement/success-icon.png" alt="">
									<h2 class="counter">125</h2>
								</div>						
								<!-- image -->
								<span>SUCCESS RATE</span>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>

<!-- client seection -->
<div class="client-section pt60 pb80">
	<div class="container">

		<div class="section-title">
			<span>RECENT REVIEWS</span>
			<h2>CLIENTS SAY</h2>
			<strong>t</strong>
		</div>
		<!-- section-title -->
		<div class="client-carousel owl-theme">
			<div class="item">
				<div class="cdf-client">
					<div class="client-info clearfix mb20">
						<div class="cdf-image pull-left mr15"><img src="/img/client/client-1.jpg" alt=""></div>
						<div class="cdf-image-icon pull-right">
							<img class="overlay-icon" src="/img/client/overlay-icon-1.png" alt="">
							<img class="color-icon" src="/img/client/color-icon-1.png" alt="">
						</div>
						<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
						<div class="cdf-client-designation">CEO of Graphia</div>
					</div>
					<div class="cdf-text display-inline overlay-hidden">
						<p>Lorem ipsum dolor sit amet consectetur  tempor adipisicing elit sed do eiusmod tempor incididunt ut labore et dolorein eiusmod.</p>
					</div>	
				</div>
			</div>
			<div class="item">
				<div class="cdf-client">
					<div class="client-info clearfix mb20">
						<div class="cdf-image pull-left mr15"><img src="/img/client/client-2.jpg" alt=""></div>
						<div class="cdf-image-icon pull-right">
							<img class="overlay-icon" src="/img/client/overlay-icon-1.png" alt="">
							<img class="color-icon" src="/img/client/color-icon-1.png" alt="">
						</div>
						<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
						<div class="cdf-client-designation">CEO of Graphia</div>
					</div>
					<div class="cdf-text display-inline overlay-hidden">
						<p>Lorem ipsum dolor sit amet consectetur  tempor adipisicing elit sed do eiusmod tempor incididunt ut labore et dolorein eiusmod.</p>
					</div>	
				</div>
			</div>
			<div class="item">
				<div class="cdf-client">
					<div class="client-info clearfix mb20">
						<div class="cdf-image pull-left mr15"><img src="/img/client/client-3.jpg" alt=""></div>
						<div class="cdf-image-icon pull-right">
							<img class="overlay-icon" src="/img/client/overlay-icon-1.png" alt="">
							<img class="color-icon" src="/img/client/color-icon-1.png" alt="">
						</div>
						<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
						<div class="cdf-client-designation">CEO of Graphia</div>
					</div>
					<div class="cdf-text display-inline overlay-hidden">
						<p>Lorem ipsum dolor sit amet consectetur  tempor adipisicing elit sed do eiusmod tempor incididunt ut labore et dolorein eiusmod.</p>
					</div>	
				</div>
			</div>
			<div class="item">
				<div class="cdf-client">
					<div class="client-info clearfix mb20">
						<div class="cdf-image pull-left mr15"><img src="/img/client/client-1.jpg" alt=""></div>
						<div class="cdf-image-icon pull-right">
							<img class="overlay-icon" src="/img/client/overlay-icon-1.png" alt="">
							<img class="color-icon" src="/img/client/color-icon-1.png" alt="">
						</div>
						<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
						<div class="cdf-client-designation">CEO of Graphia</div>
					</div>
					<div class="cdf-text display-inline overlay-hidden">
						<p>Lorem ipsum dolor sit amet consectetur  tempor adipisicing elit sed do eiusmod tempor incididunt ut labore et dolorein eiusmod.</p>
					</div>	
				</div>
			</div>
			<div class="item">
				<div class="cdf-client">
					<div class="client-info clearfix mb20">
						<div class="cdf-image pull-left mr15"><img src="/img/client/client-2.jpg" alt=""></div>
						<div class="cdf-image-icon pull-right">
							<img class="overlay-icon" src="/img/client/overlay-icon-1.png" alt="">
							<img class="color-icon" src="/img/client/color-icon-1.png" alt="">
						</div>
						<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
						<div class="cdf-client-designation">CEO of Graphia</div>
					</div>
					<div class="cdf-text display-inline overlay-hidden">
						<p>Lorem ipsum dolor sit amet consectetur  tempor adipisicing elit sed do eiusmod tempor incididunt ut labore et dolorein eiusmod.</p>
					</div>	
				</div>
			</div>
			<div class="item">
				<div class="cdf-client">
					<div class="client-info clearfix mb20">
						<div class="cdf-image pull-left mr15"><img src="/img/client/client-3.jpg" alt=""></div>
						<div class="cdf-image-icon pull-right">
							<img class="overlay-icon" src="/img/client/overlay-icon-1.png" alt="">
							<img class="color-icon" src="/img/client/color-icon-1.png" alt="">
						</div>
						<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
						<div class="cdf-client-designation">CEO of Graphia</div>
					</div>
					<div class="cdf-text display-inline overlay-hidden">
						<p>Lorem ipsum dolor sit amet consectetur  tempor adipisicing elit sed do eiusmod tempor incididunt ut labore et dolorein eiusmod.</p>
					</div>	
				</div>
			</div>

		</div>


	</div>
</div>
<!-- client seection  / End -->

<!-- process seection -->
<div class="process-section">
	<div class="overlay pt80 pb80 text-center">
		<div class="container">
			<div class="row">
				<div class="process-section-title text-center">
					<div class="cdf-title mb40"><h2>Our 15 Yeas of Expecience<br> Helps <a href="#">You to Grow Web</a> Ranking</h2></div>
					<div class="cdf-text mb30"><p>Dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore <br>magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco</p>
					</div>
				</div>
				<!-- process-section-title -->


				<div class="process-icons">
					<div class="col-sm-3">
						<div class="process-icon-box">
							<div class="cdf-icon"><i class=""></i></div>
							<div class="cdf-icon-img mb25  button"><img src="/img/icons/people.png" alt=""><div class="animation-ripple"></div></div>
							<div class="cdf-title mb15"><h2><span>01 . </span>  People</h2></div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="process-icon-box">
							<div class="cdf-icon"><i class=""></i></div>
							<div class="cdf-icon-img mb25  button"><img src="/img/icons/object.png" alt=""><div class="animation-ripple"></div></div>
							<div class="cdf-title mb15"><h2><span>02 . </span> OBJECTIVES</h2></div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="process-icon-box">
							<div class="cdf-icon"><i class=""></i></div>
							<div class="cdf-icon-img mb25  button"><img src="/img/icons/compus.png" alt=""><div class="animation-ripple"></div></div>
							<div class="cdf-title mb15"><h2><span>03 . </span> PLANNING</h2></div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="process-icon-box">
							<div class="cdf-icon"><i class=""></i></div>
							<div class="cdf-icon-img mb25"><img src="/img/icons/lab.png" alt=""><div class="animation-ripple"></div></div>
							<div class="cdf-title mb15"><h2><span>04 . </span> ANALYTICS</h2></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- process seection  / End -->

<!-- latest-news seection  -->

<div class="latest-news-section pt70 pb70">
	<div class="container">
		<div class="row">
			<div class="section-title">
				<span>LATEST NEWS</span>
				<h2>READERS LOVE</h2>
				<strong>n</strong>
			</div>
			<!-- section-title -->
			<div class="col-sm-6">
				<div class="cdf-post relative">
					<div class="cdf-image">
					<div class=" img-effect-1">
						<img src="/img/blog/blog-image-1.jpg" alt="">
						<figcaption></figcaption>
						<div class="cdf-meta">
							<ul class="post-meta">
								<li><a href="#">19 </a><span>AUG</span></li>
								<li><a href="#"><img src="/img/icons/Comments.png" alt=""> </a><span>09</span></li>
								<li><a href="#"><img src="/img/icons/like.png" alt=""> </a><span>05</span></li>
								<li><a href="#"><img src="/img/author/author-image-1.jpg" alt=""> </a></li>
							</ul>
						</div>
						</div>
					</div>
					<div class="cdf-content pt20 pl50">
						<div class="cdf-title mb15"><h2><a href="#">Our Successive Progress Might Help You to Prospective</a></h2></div>
						<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p></div>
						<div class="cdf-btn cdf-btn-one mt20"><a href="#">learn more</a></div>

					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="cdf-post relative pl70">
					<div class="cdf-image">
					<div class="img-effect-1">
						<img src="/img/blog/blog-image-2.jpg" alt="">
						<figcaption></figcaption>
						<div class="cdf-meta">
							<ul class="post-meta">
								<li><a href="#">19 </a><span>AUG</span></li>
								<li><a href="#"><img src="/img/icons/Comments.png" alt=""> </a><span>09</span></li>
								<li><a href="#"><img src="/img/icons/like.png" alt=""> </a><span>05</span></li>
								<li><a href="#"><img src="/img/author/author-image-2.jpg" alt=""> </a></li>
							</ul>
						</div>
						</div>
					</div>
					<div class="cdf-content pt20 pl50">
						<div class="cdf-title mb15"><h2><a href="#">Our Successive Progress Might Help You to Prospective</a></h2></div>
						<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p></div>
						<div class="cdf-btn cdf-btn-one mt20"><a href="#">learn more</a></div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- latest-news seection  / End -->
<!-- partner seection  -->

<div class="partner">
	<div class="container">
		<div class="row">
			<div class="partner-carousel owl-carousel owl-theme">
				<div class="item"> 
					<a href="#"> 
						<img class="normal-image" src="/img/partner/partner-1.png" alt=" ">
						<img class="color-image" src="/img/partner/partner-color-1.png" alt=" ">
					</a>
				</div>
				<div class="item"> 
					<a href="#"> 
						<img class="normal-image" src="/img/partner/partner-2.png" alt=" ">
						<img class="color-image" src="/img/partner/partner-color-2.png" alt=" ">
					</a>
				</div>
				<div class="item"> 
					<a href="#"> 
						<img class="normal-image" src="/img/partner/partner-3.png" alt=" ">
						<img class="color-image" src="/img/partner/partner-color-3.png" alt=" ">
					</a>
				</div>
				<div class="item"> 
					<a href="#"> 
						<img class="normal-image" src="/img/partner/partner-4.png" alt=" ">
						<img class="color-image" src="/img/partner/partner-color-4.png" alt=" ">
					</a>
				</div>
				<div class="item"> 
					<a href="#"> 
						<img class="normal-image" src="/img/partner/partner-5.png" alt=" ">
						<img class="color-image" src="/img/partner/partner-color-5.png" alt=" ">
					</a>
				</div>
				<div class="item"> 
					<a href="#"> 
						<img class="normal-image" src="/img/partner/partner-1.png" alt=" ">
						<img class="color-image" src="/img/partner/partner-color-1.png" alt=" ">
					</a>
				</div>
				<div class="item"> 
					<a href="#"> 
						<img class="normal-image" src="/img/partner/partner-2.png" alt=" ">
						<img class="color-image" src="/img/partner/partner-color-2.png" alt=" ">
					</a>
				</div>
				<div class="item"> 
					<a href="#"> 
						<img class="normal-image" src="/img/partner/partner-3.png" alt=" ">
						<img class="color-image" src="/img/partner/partner-color-3.png" alt=" ">
					</a>
				</div>
				<div class="item"> 
					<a href="#"> 
						<img class="normal-image" src="/img/partner/partner-4.png" alt=" ">
						<img class="color-image" src="/img/partner/partner-color-4.png" alt=" ">
					</a>
				</div>
				<div class="item"> 
					<a href="#"> 
						<img class="normal-image" src="/img/partner/partner-5.png" alt=" ">
						<img class="color-image" src="/img/partner/partner-color-5.png" alt=" ">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- client seection  / End -->

<footer>
	<div class="footer-widget-section">
		<div class="footer-overlay">
			<div class="container">
				<div class="row">
					<div class="footer-logo text-center mb70"><a href="#"><img src="/img/footer/logo.png" alt="logo"></a></div>
					<div class="col-md-3 col-xs-6  iphone5-full-width">
						<div class="footer-widget about-us">
							<div class="footer-widget-title">
								<h2>about us</h2>
							</div>
							<div class="footer-widget-text margin-bottom20">
								<p>Lorem ipsum dolor sit amet labore dolor consectetur adipisicing elit sed do eiusmod tempor incididunt ut.</p>
							</div>
							<!-- footer-widget-text -->
							<div class="address margin-bottom20 ul-li-block">
								<ul>
									<li class="address"><a href="#"><i class="icon_pin_alt"></i>35 North Road, NY</a></li>
									<li class="phone"><a href="#"><i class="icon_phone"></i>+(550) 325 2567</a></li>
									<li class="mail"><a href="#"><i class="icon_mail_alt"></i>info@sitename.com</a></li>
								</ul>
							</div>
							<!-- footer-widget-address -->
						</div>
					</div>
					<!-- col-md-3 col-sm-6 -->

					<div class="col-md-3 col-xs-6 iphone5-full-width">
						<div class="footer-widget widget-link-list">
							<div class="footer-widget-title">
								<h2>quick links</h2>
							</div>
							<div class="quick-link ul-li-block">
								<ul>
									<li><a href="#"><i class="arrow_carrot-2right"></i>Faq & Help</a></li>
									<li><a href="#"><i class="arrow_carrot-2right"></i>Privacy Policy</a></li>
									<li><a href="#"><i class="arrow_carrot-2right"></i>9 Payment Method</a></li>
									<li><a href="#"><i class="arrow_carrot-2right"></i>Sitemap</a></li>
									<li><a href="#"><i class="arrow_carrot-2right"></i>Terms & Condition</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- col-md-3 col-sm-6 -->
					<div class="col-md-3 col-xs-6 pr0 mobile-full-width">
						<div class="footer-widget">
							<div class="footer-widget-title">
								<h2>RECENT POSTS</h2>
							</div>
							<div class="recent-post ul-li-block">
								<ul>
									<li>
										<div class="cdf-image pull-left mr12">
											<img src="/img/footer/post-image-1.jpg" alt="">
											<div class="cdf-icon"><i class="icon_link"></i></div>
											<div class="ovrly"></div>
										</div>
										<div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
										<ul class="post-meta">
											<li><a href="#">AUG 19,2016 </a></li>
										</ul>
									</li>
									<li>
										<div class="cdf-image pull-left mr12">
											<img src="/img/footer/post-image-2.jpg" alt="">
											<div class="cdf-icon"><i class="icon_link"></i></div>
											<div class="ovrly"></div>
										</div>
										<div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
										<ul class="post-meta">
											<li><a href="#">AUG 19,2016 </a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- col-md-3 col-sm-6 -->
					<div class="col-md-3 col-xs-6  mobile-full-width">
						<div class="footer-widget news-letter">
							<div class="footer-widget-title">
								<h2>newsletter</h2>
							</div>
							<div class="footer-widget-text margin-bottom20">
								<p>Get Newsletter Updates eventually!</p>
							</div>
							<form action="#" method="get" class="newsletter">
								<div class="form-group ">                                     
									<input type="email" name="email" placeholder="E-mail" class="form-control"> 
									<button type="submit"><i class="arrow_right"></i></button>
								</div>
							</form>
							<div class="social mt50 ul-li">
								<ul>
									<li><a href=""><i class="social_facebook"></i></a></li>
									<li><a href=""><i class="social_twitter"></i></a></li>
									<li><a href=""><i class="social_googleplus"></i></a></li>
									<li><a href=""><i class="social_tumblr"></i></a></li>
								</ul>
							</div>
							<!-- footer-widget-social -->
						</div>

					</div>
					<!-- col-md-3 col-sm-6 -->
				</div> 
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="Copyright text-center"><p><span>WOLFSEO</span> designed by <a href="#">CODER  FIRM </a>Copyright &copy; 2016. All right reserved. </p></div>
				</div>
			</div>
		</div>
	</div>
</footer>


<!-- Vendor js -->
<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
<!-- Bootstrap js  -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- Owl carousel  -->
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>   
<!--  countdown  -->
<script type="text/javascript" src="/js/jquery.countdown.min.js"></script>
<!-- waypoints -->
<script type="text/javascript" src="/js/waypoints.min.js"></script>
<!--  magnific  -->
<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/js/mixitup.min.js"></script>

<script src="/js/jquery.themepunch.revolution.min.js"></script>
<script src="/js/jquery.themepunch.tools.min.js"></script>
<script src="/js/revolution.extension.slideanims.min.js"></script>
<script src="/js/revolution.extension.layeranimation.min.js"></script>
<script src="/js/revolution-slider.js"></script>
<!-- main js -->
<script src="/js/scripts.js"></script>



</body>
</html>