<div class="cdf-category side-bar-widget">
    <div class="widget-title mb40">
        <h2>Following</h2>
    </div>
    <!-- title -->
    <div class="cdf-category-list ul-li ul-li-block">
        <ul class="list-group">
            <li class="list-group-item"><a href="#">User1</a><span class="badge">(14)</span></li>
            <li class="list-group-item"><a href="#">User2</a><span class="badge">(20)</span></li>
            <li class="list-group-item"><a href="#">User3</a><span class="badge">(21)</span></li>
            <li class="list-group-item"><a href="#">User4</a><span class="badge">(09)</span></li>
            <li class="list-group-item"><a href="#">User5</a><span class="badge">(05)</span></li>
        </ul>
    </div>
</div>