<footer>
    <div class="footer-widget-section">
        <div class="footer-overlay">
            <div class="container">
                <div class="row justify-content-middle">
                    <div class="footer-logo text-center mb70"><a href="#"><img src="/img/birDB-white-text-logo.png" height="60px"  alt="logo"></a></div>
                    
                    <!-- col-md-3 col-sm-6 -->


                </div> 
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="text-center" style="font-size: 20px;" ><a href="https://github.com/v-walker/birDB/" target="_blank">Github <i  class="fab fa-github-square"></i></a></div>
                    <div class="Copyright text-center"><p><span class="text-green">birDB </span>Copyright &copy; 2021. All right reserved. </p></div>
                </div>
            </div>
        </div>
    </div>
</footer>