<header>
    <div class="header-top text-center clearfix">
        <div class="col-sm-3 col-xs-6">
            <div class="header-top-content socials ul-li border-right">
                <ul>
                    <li><a href="#"><i aria-hidden="true" class="social_facebook"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="social_googleplus"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="social_twitter"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="social_tumbleupon"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- socials -->
        <div class="col-sm-3 hidden-xs">
            <div class="header-top-content mail border-right dark-gray-clr">
                <span><i aria-hidden="true" class="icon_mail_alt green-clr mr10"></i> info@sitename.com</span>
            </div>
        </div>
        <!-- mail -->
        <div class="col-sm-3 hidden-xs">
            <div class="header-top-content phone border-right dark-gray-clr">
                <span><i aria-hidden="true" class="icon_phone green-clr mr10"></i> +(850) 856 5612</span>
            </div>
        </div>
        <!-- phone -->
        <div class="col-sm-3 col-xs-6">
            <div class="header-top-content user-login">
                <div class="lumsum">
                    <img src="/img/User-icon.png" alt="">
                    <a class="dropdown-toggle dark-gray-clr" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">username<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Dropdown link</a></li>
                        <li><a href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- user-login -->
    </div>

    <div class="cdf-menu">
        <div class="container">
            <div class="logo pull-left">
                <a href="#"><img src="/img/logo/logo.png" alt="logo"></a>
            </div>
            <!-- logo -->
            <div class="main-menu hidden-xs pull-right">
                <nav id="seo-menu" class="pull-left">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="responsive-icon">
                        <ul class="nav navbar-nav text-center">
                            <li><a target="" href="index.html" class="info">Home</a></li>
                            <li><a target="" href="about.html">About</a></li>
                            <li class="parent-item"><a  target="" href="case-details.html">service</a>
                                <ul class="sub-menu">
                                    <li><a href=".html">Action</a></li>
                                    <li><a href=".html">Another action</a></li>
                                    <li><a href=".html">Something else here</a></li>
                                </ul>
                            </li>
                            <li><a target="" href="cases.html">cases</a></li>
                            <li><a target="" href="blog-single.html">pages</a></li>
                            <li><a target="" href="blog.html">blog</a></li>
                            <li><a target="" href="contact.html">contact</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
                <!-- /#seo-menu -->

                <div class="cdf-search-button pull-left">
                <div id="sb-search" class="sb-search " >
                    <form>
                            <input class="sb-search-input " onkeyup="buttonUp();" placeholder="search here..." onblur="monkey();" type="search" value="" name="search" id="search">
                            <button class="search-submit" type="submit"  value=""><i class="icon_search"></i></button>
                            <span class="sb-icon-search"><i class="icon_search"></i><i class="icon_close"></i></span>
                    </form>
                </div>
                    <a href="#">get audit</a>
                </div>
            </div>
            <!-- MAIN MENU END -->

            <div class="cdf-header">
                <div class="burger-container">
                    <div id="burger">
                        <div class="bar topBar"></div>
                        <div class="bar btmBar"></div>
                    </div>
                </div>
                <ul class="menu">
                    <li class="menu-item"><a href="index-2.html">Home Page 2</a></li>
                    <li class="menu-item"><a href="about.html">About</a></li>
                    <li class="menu-item"><a href="404.html">Service</a></li>
                    <li class="menu-item"><a href="case.html">Case</a></li>
                    <li class="menu-item"><a href="case-details.html">Case Detail</a></li>
                    <li class="menu-item"><a href="blog.html">Blog</a></li>
                    <li class="menu-item"><a href="blog-single.html">Blog Single</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="page-breadcrumb">
    <div class="breadcrumb-overlay">
        <div class="container">
            <div class="row">
                <div class="cdf-breadcrumb ul-li text-center">
                    <ul>
                        <li><a title="Home" href="#">ejs stuff</a></li>
                        <li class="active"><i class="arrow_carrot-2right" aria-hidden="true"></i>ejs stuff</li>
                    </ul>
                    <div class="page-header"><h2>ejs stuff</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>