<div class="recent-post side-bar-widget">
    <div class="widget-title mb20">
        <h2>Recent Post</h2>
    </div>
    <!-- title -->
    <div class="recent-post ul-li-block">
        <ul>
            <li>
                <div class="cdf-image pull-left mr12">
                    <img src="/img/footer/post-image-1.jpg" alt="">
                    <div class="cdf-icon"><i class="icon_link"></i></div>
                    <div class="ovrly"></div>
                </div>
                <div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
                <ul class="post-meta">
                    <li><a href="#">AUG 19,2016 </a></li>
                </ul>
            </li>
            <li>
                <div class="cdf-image pull-left mr12">
                    <img src="/img/footer/post-image-2.jpg" alt="">
                    <div class="cdf-icon"><i class="icon_link"></i></div>
                    <div class="ovrly"></div>
                </div>
                <div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
                <ul class="post-meta">
                    <li><a href="#">AUG 19,2016 </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>