<!-- <h3>Users Matching Your Search: </h3>
					<% if (userQueryData.length >= 1) { %>
						<li class="list-group-item"><a href="/user/<%= userQueryData.id %> "><%= userQueryData.username %> </a></li>
					<% } else {%> 
						<li class="list-group-item"><a href="#">No users found</a></li>
					<% } %>  -->