<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>

	<meta name="description" content="SEO - is a Premium HTML Responsive Templeate by coderfirm Team.">
	<meta name="keywords" content="Premium HTML Template">
	<meta name="author" content="coderfirm">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- main css -->
	<link rel="stylesheet" type="text/css" href="assets/css/elegant-font.css">

	<!-- Bootstrap css	 -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/owl.carousel/owl.carousel.css">
	<link rel="stylesheet" href="assets/owl.carousel/owl.theme.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">

</head>
<body>
	
	<header>
		<div class="header-top text-center clearfix">
			<div class="col-sm-3 col-xs-6">
				<div class="header-top-content socials ul-li border-right">
					<ul>
						<li><a href="#"><i aria-hidden="true" class="social_facebook"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_googleplus"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_twitter"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_tumbleupon"></i></a></li>
					</ul>
				</div>
			</div>
			<!-- socials -->
			<div class="col-sm-3 hidden-xs">
				<div class="header-top-content mail border-right dark-gray-clr">
					<span><i aria-hidden="true" class="icon_mail_alt green-clr mr10"></i> info@sitename.com</span>
				</div>
			</div>
			<!-- mail -->
			<div class="col-sm-3 hidden-xs">
				<div class="header-top-content phone border-right dark-gray-clr">
					<span><i aria-hidden="true" class="icon_phone green-clr mr10"></i> +(850) 856 5612</span>
				</div>
			</div>
			<!-- phone -->
			<div class="col-sm-3 col-xs-6">
				<div class="header-top-content user-login">
					<div class="lumsum">
						<img src="assets/img/User-icon.png" alt="">
						<a class="dropdown-toggle dark-gray-clr" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">username<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Dropdown link</a></li>
							<li><a href="#">Dropdown link</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- user-login -->
		</div>

		<div class="cdf-menu">
			<div class="container">
				<div class="logo pull-left">
					<a href="#"><img src="assets/img/logo/logo.png" alt="logo"></a>
				</div>
				<!-- logo -->
				<div class="main-menu hidden-xs pull-right">
					<nav id="seo-menu" class="pull-left">
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="responsive-icon">
							<ul class="nav navbar-nav text-center">
								<li><a target="" href="index.html" class="info">Home</a></li>
								<li><a target="" href="about.html">About</a></li>
								<li class="parent-item"><a  target="" href="case-details.html">service</a>
									<ul class="sub-menu">
										<li><a href=".html">Action</a></li>
										<li><a href=".html">Another action</a></li>
										<li><a href=".html">Something else here</a></li>
									</ul>
								</li>
								<li><a target="" href="cases.html">cases</a></li>
								<li><a target="" href="blog-single.html">pages</a></li>
								<li><a target="" href="blog.html">blog</a></li>
								<li><a target="" href="contact.html">contact</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
					<!-- /#seo-menu -->

					<div class="cdf-search-button pull-left">
					<div id="sb-search" class="sb-search " >
					    <form>
						        <input class="sb-search-input " onkeyup="buttonUp();" placeholder="search here..." onblur="monkey();" type="search" value="" name="search" id="search">
						        <button class="search-submit" type="submit"  value=""><i class="icon_search"></i></button>
						        <span class="sb-icon-search"><i class="icon_search"></i><i class="icon_close"></i></span>
					    </form>
					</div>
						<a href="#">get audit</a>
					</div>
				</div>
				<!-- MAIN MENU END -->

				<div class="cdf-header">
					<div class="burger-container">
						<div id="burger">
							<div class="bar topBar"></div>
							<div class="bar btmBar"></div>
						</div>
					</div>
					<ul class="menu">
						<li class="menu-item"><a href="index-2.html">Home Page 2</a></li>
						<li class="menu-item"><a href="about.html">About</a></li>
						<li class="menu-item"><a href="404.html">Service</a></li>
						<li class="menu-item"><a href="case.html">Case</a></li>
						<li class="menu-item"><a href="case-details.html">Case Detail</a></li>
						<li class="menu-item"><a href="blog.html">Blog</a></li>
						<li class="menu-item"><a href="blog-single.html">Blog Single</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>


	<div class="page-breadcrumb">
		<div class="breadcrumb-overlay">
			<div class="container">
				<div class="row">
					<div class="cdf-breadcrumb ul-li text-center">
						<ul>
							<li><a title="Home" href="#">Home</a></li>
							<li class="active"><i class="arrow_carrot-2right" aria-hidden="true"></i>About</li>
						</ul>
						<div class="page-header"><h2>About Us</h2></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="about-us-section pt70 pb70">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-md-offset-1 padding0">
					<div class="img-effect-2">
						<img src="assets/img/about/about.jpg" alt="">
						<figcaption></figcaption>
					</div>
				</div>
				<div class="col-md-6 col-sm-7 col-md-offset-1 padding0">
					<div class="cdf-post-style-101 white-bg">
						<div class="cdf-title mb70">
							<h2 class="watermark">
								<span class="wmo">a</span>
								<span class="wm">Our 15 Yeas of Expecience<br> Helps <a href="#">You to Grow Web</a> Ranking</span>
							</h2>
						</div>
						<div class="cdf-text mb60">
							<p>Lorem ipsum dolopr sitamet consectetur adipisicing elitvsed doeiusmod incididunt utlabore et dolore magna aliqua. Utenim admnim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat. Duis aute irure dolor ireprehenderit labore etdolore magna tempory.</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="cdf-btn cdf-btn-one"><a href="#">learn more</a></div>
					</div>
					<!-- cdf-post-style-101 -->
				</div>
			</div>
		</div>
	</div>
	<!-- about-us-section -->

	<div class="service-section pt70 pb40">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<span>our best</span>
					<h2>service</h2>
					<strong>s</strong>
				</div>
				<!-- section-title -->
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_easel"></i></div>
							<div class="cdf-title mb25"><h2>Web Analytics</h2></div>
							<div class="cdf-post-count">01<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_globe-2"></i></div>
							<div class="cdf-title mb25"><h2>SEO SERVICES</h2></div>
							<div class="cdf-post-count">02<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_mail_alt"></i></div>
							<div class="cdf-title mb25"><h2>EMAIL MARKETING</h2></div>
							<div class="cdf-post-count">03<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="social_share"></i></div>
							<div class="cdf-title mb25"><h2>SOCIAL MEDIA</h2></div>
							<div class="cdf-post-count">04<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_easel"></i></div>
							<div class="cdf-title mb25"><h2>Web Analytics</h2></div>
							<div class="cdf-post-count">01<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_globe-2"></i></div>
							<div class="cdf-title mb25"><h2>SEO SERVICES</h2></div>
							<div class="cdf-post-count">02<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_mail_alt"></i></div>
							<div class="cdf-title mb25"><h2>EMAIL MARKETING</h2></div>
							<div class="cdf-post-count">03<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="social_share"></i></div>
							<div class="cdf-title mb25"><h2>SOCIAL MEDIA</h2></div>
							<div class="cdf-post-count">04<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
			</div>
		</div>
	</div>
	<div class="process-section">
		<div class="overlay pt80 pb80 text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						
						<div class="section-title">
							<span>RECENT REVIEWS</span>
							<h2>CLIENTS SAY</h2>
						</div>
						<!-- section-title -->
						<div class="section-content text-left">
							<div id="client-Carousel" class="carousel slide" data-ride="carousel" data-interval="false">
								<div class="carousel-inner">
									<div class="item active">
										<div class="feedback-text">
											<p> Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
											<div class="client-designation">
												<span class="name">JAMAL UDDIN</span>
												<span class="designation">CEO of DEVSF</span>
											</div>
											<img src="assets/img/client/client-4.jpg" alt=" ">
										</div>
									</div>
									<div class="item">
										<div class="feedback-text">
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
											<div class="client-designation">
												<span class="name">JAMAL UDDIN</span>	
												<span class="designation">CEO of DEVSF</span>
											</div>
											<img src="assets/img/client/client-4.jpg" alt=" ">
										</div>
									</div>
									<div class="item">
										<div class="feedback-text">
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
											<div class="client-designation">
												<span class="name">JAMAL UDDIN</span>
												<span class="designation">CEO of DEVSF</span>
											</div>
											<img src="assets/img/client/client-4.jpg" alt=" ">
										</div>
									</div>
								</div>
								<div class="carousel-arrows">
									<a class="slide-arow left" href="#myCarousel" role="button" data-slide="prev">
										<span><i class="arrow_carrot-left"></i></span>
									</a>
									<a class="slide-arow right" href="#myCarousel" role="button" data-slide="next">
										<span><i class="arrow_carrot-right"></i></span>
									</a>
								</div>
								<div id="carousel-indicators">
									<ol class="carousel-indicators">
										<li data-target="#client-Carousel" data-slide-to="0" class="active"></li>
										<li data-target="#client-Carousel" data-slide-to="1" class=""></li>
										<li data-target="#client-Carousel" data-slide-to="2" class=""></li>
									</ol>
								</div>
							</div>
						</div>
					</div>				
					<div class="col-md-6">

						<div class="section-title">
							<span>JOIN US</span>
							<h2>235+ CLIENTS</h2>
						</div>
						<!-- section-title -->
						<div class="partner-carousel-2 owl-carousel owl-theme">
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-101.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-1.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-101.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-1.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-103.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-3.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-104.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-4.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-105.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-5.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-106.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-6.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-101.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-1.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-103.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-3.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-104.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-4.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-105.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-5.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-105.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-5.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-106.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-6.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-101.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-1.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="assets/img/partner/partner-103.png" alt=" ">
										<img class="color-image" src="assets/img/partner/partner-color-3.png" alt=" ">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- process-section -->
	<div class="member-section  pt70 pb70">
		<div class="container">
			<div class="section-title">
				<span>meet our</span>
				<h2>member</h2>
				<strong>m</strong>
			</div>
			<!-- section-title -->

			<div class="member-carousel owl-theme">
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="assets/img/member/member-1.jpg" alt=""></div>	
					</div>
					<div class="member-info">
						<div class="cdf-client-name"><a href="#">Sujohn Maji</a></div>
						<div class="cdf-client-designation">CEO Specialist</div>
						<div class="cdf-icon">
							<i class="icon_upload"></i>
							<div class="member-social">
								<ul>
									<li><a href="#"><i class="social_facebook"></i></a></li>
									<li><a href="#"><i class="social_twitter"></i></a></li>
									<li><a href="#"><i class="social_googleplus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="assets/img/member/member-2.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="assets/img/member/member-3.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="assets/img/member/member-1.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="assets/img/member/member-3.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="assets/img/member/member-1.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="assets/img/member/member-1.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="assets/img/member/member-2.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="assets/img/member/member-1.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- member-section  -->

	<div class="acheivement-section pt80 pb80">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="cdf-post">
						<div class="cdf-content">
							<div class="cdf-sub-title"><h3>REMARKABLE</h3></div>
							<div class="cdf-title mb30"><h2>ACHEIVEMENTS</h2></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua t enim ad minim consectetur.</p></div>
						</div>
					</div>
					<!-- cdf-post -->
				</div>
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-4">
							<div class="cdf-post">
								<div class="counter-item">
									<div class="cdf-image-icon pull-left">
										<img src="assets/img/acheivement/client-icon.png" alt="">
										<h2 class="counter">250</h2>
									</div>
									<!-- image -->
									<span>HAPPY CLIETNS</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="cdf-post">
								<div class="counter-item">		
									<div class="cdf-image-icon pull-left">
										<img src="assets/img/acheivement/acheivement-icon.png" alt="">
										<h2 class="counter">123</h2>		
									</div>
									<!-- image -->
									<span>PROJECTS DONE</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="cdf-post">
								<div class="counter-item">
									<div class="cdf-image-icon pull-left">
										<img src="assets/img/acheivement/success-icon.png" alt="">
										<h2 class="counter">125</h2>
									</div>						
									<!-- image -->
									<span>SUCCESS RATE</span>
								</div>
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- acheivement-section  -->


	<footer>
		<div class="footer-widget-section">
			<div class="footer-overlay">
				<div class="container">
					<div class="row">
						<div class="footer-logo text-center mb70"><a href="#"><img src="assets/img/footer/logo.png" alt="logo"></a></div>
						<div class="col-md-3 col-xs-6  iphone5-full-width">
							<div class="footer-widget about-us">
								<div class="footer-widget-title">
									<h2>about us</h2>
								</div>
								<div class="footer-widget-text margin-bottom20">
									<p>Lorem ipsum dolor sit amet labore dolor consectetur adipisicing elit sed do eiusmod tempor incididunt ut.</p>
								</div>
								<!-- footer-widget-text -->
								<div class="address margin-bottom20 ul-li-block">
									<ul>
										<li class="address"><a href="#"><i class="icon_pin_alt"></i>35 North Road, NY</a></li>
										<li class="phone"><a href="#"><i class="icon_phone"></i>+(550) 325 2567</a></li>
										<li class="mail"><a href="#"><i class="icon_mail_alt"></i>info@sitename.com</a></li>
									</ul>
								</div>
								<!-- footer-widget-address -->
							</div>
						</div>
						<!-- col-md-3 col-sm-6 -->

						<div class="col-md-3 col-xs-6 iphone5-full-width">
							<div class="footer-widget widget-link-list">
								<div class="footer-widget-title">
									<h2>quick links</h2>
								</div>
								<div class="quick-link ul-li-block">
									<ul>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Faq & Help</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Privacy Policy</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>9 Payment Method</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Sitemap</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Terms & Condition</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 col-sm-6 -->
						<div class="col-md-3 col-xs-6 pr0 mobile-full-width">
							<div class="footer-widget">
								<div class="footer-widget-title">
									<h2>RECENT POSTS</h2>
								</div>
								<div class="recent-post ul-li-block">
									<ul>
										<li>
											<div class="cdf-image pull-left mr12">
												<img src="assets/img/footer/post-image-1.jpg" alt="">
												<div class="cdf-icon"><i class="icon_link"></i></div>
												<div class="ovrly"></div>
											</div>
											<div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
											<ul class="post-meta">
												<li><a href="#">AUG 19,2016 </a></li>
											</ul>
										</li>
										<li>
											<div class="cdf-image pull-left mr12">
												<img src="assets/img/footer/post-image-2.jpg" alt="">
												<div class="cdf-icon"><i class="icon_link"></i></div>
												<div class="ovrly"></div>
											</div>
											<div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
											<ul class="post-meta">
												<li><a href="#">AUG 19,2016 </a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 col-sm-6 -->
						<div class="col-md-3 col-xs-6  mobile-full-width">
							<div class="footer-widget news-letter">
								<div class="footer-widget-title">
									<h2>newsletter</h2>
								</div>
								<div class="footer-widget-text margin-bottom20">
									<p>Get Newsletter Updates eventually!</p>
								</div>
								<form action="#" method="get" class="newsletter">
									<div class="form-group ">                                     
										<input type="email" name="email" placeholder="E-mail" class="form-control"> 
										<button type="submit"><i class="arrow_right"></i></button>
									</div>
								</form>
								<div class="social mt50 ul-li">
									<ul>
										<li><a href=""><i class="social_facebook"></i></a></li>
										<li><a href=""><i class="social_twitter"></i></a></li>
										<li><a href=""><i class="social_googleplus"></i></a></li>
										<li><a href=""><i class="social_tumblr"></i></a></li>
									</ul>
								</div>
								<!-- footer-widget-social -->
							</div>

						</div>
						<!-- col-md-3 col-sm-6 -->
					</div> 
				</div>
				<div class="footer-bottom">
					<div class="container">
						<div class="Copyright text-center"><p><span>WOLFSEO</span> designed by <a href="">CODER  FIRM </a>Copyright &copy; 2016. All right reserved. </p></div>
					</div>
				</div>
			</div>
		</div>
	</footer>

        <!-- Vendor js -->
    <script type="text/javascript" src="assets/js/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap js  -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <!-- Owl carousel  -->
    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>   
    <!--  countdown  -->
    <script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="assets/js/waypoints.min.js"></script>
    <!--  magnific  -->
    <script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="assets/js/mixitup.min.js"></script>

<script src="assets/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/js/revolution.extension.slideanims.min.js"></script>
<script src="assets/js/revolution.extension.layeranimation.min.js"></script>
<script src="assets/js/revolution-slider.js"></script>
<!-- main js -->
<script src="assets/js/scripts.js"></script>



</body>
</html>