<!doctype html>
<html lang="en">
<head>
	<%- include ('partials/meta.ejs') %> 
</head>
<body>
	<%- include ('partials/header.ejs') %>

	<div class="about-us-section font pt70 pb70">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-md-offset-1 padding0">
					<div class="">
						<img src="/img/about/about.jpg" alt="">
						<figcaption></figcaption>
					</div>
				</div>
				<div class="col-md-6 col-sm-7 col-md-offset-1 padding0">
					<div class="cdf-post-style-101 white-bg">
						<div class="section-title">
							<span>Full Stack</span>
							<h2>Project</h2>
							<strong>web</strong>
						</div>
						<div class="cdf-text mb60">
							<p>Using various technologies, our goal is to build a responsive website that allows for personal journaling and sharing of birdwatching details with others. On our site you will be able to:</p>
							<ul class="">
								<li>Learn about birds sighted in your region.</li><br>
								<li> Add field notes and images to your personal birdwatching journal.</li><br>
								<li> Share your sightings with others.</li><br>
								<li> Chat with others who have similar interests!</li><br>
							</ul>
							<p></p>
						</div>
					</div>
					<!-- cdf-post-style-101 -->
				</div>
			</div>
		</div>
	</div>
	<!-- about-us-section -->

	<div class="service-section pt70 pb40">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<span>our tech</span>
					<h2>stack</h2>
					<strong>tech</strong>
				</div>
				<!-- section-title -->
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fab fa-js"></i></i></div>
							<div class="cdf-title mb25"><h2>JavaScript</h2></div>
							<div class="cdf-post-count">01<span></span></div>
							<div class="cdf-text"><p> our front end programming language.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fab fa-node-js"></i>

							</div>
							<div class="cdf-title mb25"><h2>Node.js</h2></div>
							<div class="cdf-post-count">02<span></span></div>
							<div class="cdf-text"><p>an asynchronous event-driven runtime designed to build scalable network apps.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fas fa-code"></i></div>
							<div class="cdf-title mb25"><h2>HTML</h2></div>
							<div class="cdf-post-count">03<span></span></div>
							<div class="cdf-text"><p>hypertext markup language, website framework</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="far fa-file-code"></i></div>
							<div class="cdf-title mb25"><h2>CSS</h2></div>
							<div class="cdf-post-count">04<span></span></div>
							<div class="cdf-text"><p>cascading style sheets, makes website visually applealing</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fas fa-database"></i></div>
							<div class="cdf-title mb25"><h2>SQL</h2></div>
							<div class="cdf-post-count">05<span></span></div>
							<div class="cdf-text"><p>structured query laguage. database management software</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="far fa-file-alt"></i></i></div>
							<div class="cdf-title mb25"><h2>EJS</h2></div>
							<div class="cdf-post-count">06<span></span></div>
							<div class="cdf-text"><p>encapsulated javascript</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fab fa-bootstrap"></i></div>
							<div class="cdf-title mb25"><h2>Bootstrap</h2></div>
							<div class="cdf-post-count">07<span></span></div>
							<div class="cdf-text"><p>css framework</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fas fa-retweet"></i></div>
							<div class="cdf-title mb25"><h2>AJAX</h2></div>
							<div class="cdf-post-count">08<span></span></div>
							<div class="cdf-text"><p>asynchronous javascript and xml, xmlhttprequest object used to communicate with servers</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fas fa-user-secret"></i></i></div>
							<div class="cdf-title mb25"><h2>Passport.js</h2></div>
							<div class="cdf-post-count">09<span></span></div>
							<div class="cdf-text"><p>authentication software</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fas fa-eye-slash"></i></div>
							<div class="cdf-title mb25"><h2>bcrypt.js</h2></div>
							<div class="cdf-post-count">10<span></span></div>
							<div class="cdf-text"><p>password hashing and encryption software</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fas fa-database"></i></div>
							<div class="cdf-title mb25"><h2>Sequelize</h2></div>
							<div class="cdf-post-count">11<span></span></div>
							<div class="cdf-text"><p> a promise-based node.js ORM for sql databases.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fas fa-database"></i></div>
							<div class="cdf-title mb25"><h2>PostgreSQL</h2></div>
							<div class="cdf-post-count">12<span></span></div>
							<div class="cdf-text"><p>a powerful, open source object-relational database system</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fas fa-table"></i></div>
							<div class="cdf-title mb25"><h2>Beekeeper</h2></div>
							<div class="cdf-post-count">13<span></span></div>
							<div class="cdf-text"><p>sql gui client</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="far fa-comments"></i></div>
							<div class="cdf-title mb25"><h2>socket.io</h2></div>
							<div class="cdf-post-count">14<span></span></div>
							<div class="cdf-text"><p>Bidirectional and low-latency communication software</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fab fa-git-square"></i></div>
							<div class="cdf-title mb25"><h2>git</h2></div>
							<div class="cdf-post-count">15<span></span></div>
							<div class="cdf-text"><p>version management system</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i class="fab fa-github"></i></div>
							<div class="cdf-title mb25"><h2>Github</h2></div>
							<div class="cdf-post-count">16<span></span></div>
							<div class="cdf-text"><p>web based git interface</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				
			</div>
		</div>
	</div>

	<!-- process-section -->
	<div class="member-section  pt70 pb70">
		<div class="container">
			<div class="section-title">
				<span>meet our</span>
				<h2>Team</h2>
				<strong>bDB</strong>
			</div>
			<!-- section-title -->

			<div class="member-carousel owl-theme">
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-1.jpg" alt=""></div>	
					</div>
					<div class="member-info">
						<div class="cdf-client-name"><a href="#">Victoria Walker</a></div>
						<div class="cdf-client-designation">Developer</div>
						<div class="cdf-icon">
							<i class="icon_upload"></i>
							<div class="member-social">
								<ul>
									<li><a href="https://github.com/v-walker"><i class="fab fa-github-square"></i></a></li>
									<li><a href="#"><i class="fas fa-folder-open"></i></a></li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-2.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Hunter Hutchisson</a></div>
							<div class="cdf-client-designation">Developer</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="https://github.com/hunterhutchisson"><i class="fab fa-github-square"></i></a></li>
										<li><a href="#"><i class="fas fa-folder-open"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-3.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Ryan Donald</a></div>
							<div class="cdf-client-designation">Developer</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="https://github.com/ryanthomasdonald"><i class="fab fa-github-square"></i></a></li>
										<li><a href="#"><i class="fas fa-folder-open"></i></a></li>
									
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-1.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Andrew Hatch</a></div>
							<div class="cdf-client-designation">Developer</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="https://github.com/AMHatch"><i class="fab fa-github-square"></i></a></li>
										<li><a href="#"><i class="fas fa-folder-open"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- member-section  -->

	
	<!-- acheivement-section  -->
	
	<%- include ('partials/footer.ejs') %>

	<%- include ('partials/scripts.ejs') %>

	<!-- place page script files here, aka the dom manip scripts -->

</body>
</html>