<!doctype html>
<html lang="en">
<head>
	<%- include ('partials/meta.ejs') %> 
</head>
<body>
	<%- include ('partials/header.ejs') %>

	<div class="about-us-section pt70 pb70">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-md-offset-1 padding0">
					<div class="img-effect-2">
						<img src="/img/about/about.jpg" alt="">
						<figcaption></figcaption>
					</div>
				</div>
				<div class="col-md-6 col-sm-7 col-md-offset-1 padding0">
					<div class="cdf-post-style-101 white-bg">
						<div class="cdf-title mb70">
							<h2 class="watermark">
								<span class="wmo">a</span>
								<span class="wm">Our 15 Yeas of Expecience<br> Helps <a href="#">You to Grow Web</a> Ranking</span>
							</h2>
						</div>
						<div class="cdf-text mb60">
							<p>Lorem ipsum dolopr sitamet consectetur adipisicing elitvsed doeiusmod incididunt utlabore et dolore magna aliqua. Utenim admnim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat. Duis aute irure dolor ireprehenderit labore etdolore magna tempory.</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="cdf-btn cdf-btn-one"><a href="#">learn more</a></div>
					</div>
					<!-- cdf-post-style-101 -->
				</div>
			</div>
		</div>
	</div>
	<!-- about-us-section -->

	<div class="service-section pt70 pb40">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<span>our best</span>
					<h2>service</h2>
					<strong>s</strong>
				</div>
				<!-- section-title -->
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_easel"></i></div>
							<div class="cdf-title mb25"><h2>Web Analytics</h2></div>
							<div class="cdf-post-count">01<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_globe-2"></i></div>
							<div class="cdf-title mb25"><h2>SEO SERVICES</h2></div>
							<div class="cdf-post-count">02<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_mail_alt"></i></div>
							<div class="cdf-title mb25"><h2>EMAIL MARKETING</h2></div>
							<div class="cdf-post-count">03<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="social_share"></i></div>
							<div class="cdf-title mb25"><h2>SOCIAL MEDIA</h2></div>
							<div class="cdf-post-count">04<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_easel"></i></div>
							<div class="cdf-title mb25"><h2>Web Analytics</h2></div>
							<div class="cdf-post-count">01<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_globe-2"></i></div>
							<div class="cdf-title mb25"><h2>SEO SERVICES</h2></div>
							<div class="cdf-post-count">02<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="icon_mail_alt"></i></div>
							<div class="cdf-title mb25"><h2>EMAIL MARKETING</h2></div>
							<div class="cdf-post-count">03<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item-box effect-1">
						<div class="box-overlay">
							<div class="cdf-icon mb25"><i aria-hidden="true" class="social_share"></i></div>
							<div class="cdf-title mb25"><h2>SOCIAL MEDIA</h2></div>
							<div class="cdf-post-count">04<span></span></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></div>				
						</div>
					</div>
					<!-- item-box -->
				</div>
			</div>
		</div>
	</div>
	<div class="process-section">
		<div class="overlay pt80 pb80 text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						
						<div class="section-title">
							<span>RECENT REVIEWS</span>
							<h2>CLIENTS SAY</h2>
						</div>
						<!-- section-title -->
						<div class="section-content text-left">
							<div id="client-Carousel" class="carousel slide" data-ride="carousel" data-interval="false">
								<div class="carousel-inner">
									<div class="item active">
										<div class="feedback-text">
											<p> Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
											<div class="client-designation">
												<span class="name">JAMAL UDDIN</span>
												<span class="designation">CEO of DEVSF</span>
											</div>
											<img src="/img/client/client-4.jpg" alt=" ">
										</div>
									</div>
									<div class="item">
										<div class="feedback-text">
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
											<div class="client-designation">
												<span class="name">JAMAL UDDIN</span>	
												<span class="designation">CEO of DEVSF</span>
											</div>
											<img src="/img/client/client-4.jpg" alt=" ">
										</div>
									</div>
									<div class="item">
										<div class="feedback-text">
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
											<div class="client-designation">
												<span class="name">JAMAL UDDIN</span>
												<span class="designation">CEO of DEVSF</span>
											</div>
											<img src="/img/client/client-4.jpg" alt=" ">
										</div>
									</div>
								</div>
								<div class="carousel-arrows">
									<a class="slide-arow left" href="#myCarousel" role="button" data-slide="prev">
										<span><i class="arrow_carrot-left"></i></span>
									</a>
									<a class="slide-arow right" href="#myCarousel" role="button" data-slide="next">
										<span><i class="arrow_carrot-right"></i></span>
									</a>
								</div>
								<div id="carousel-indicators">
									<ol class="carousel-indicators">
										<li data-target="#client-Carousel" data-slide-to="0" class="active"></li>
										<li data-target="#client-Carousel" data-slide-to="1" class=""></li>
										<li data-target="#client-Carousel" data-slide-to="2" class=""></li>
									</ol>
								</div>
							</div>
						</div>
					</div>				
					<div class="col-md-6">

						<div class="section-title">
							<span>JOIN US</span>
							<h2>235+ CLIENTS</h2>
						</div>
						<!-- section-title -->
						<div class="partner-carousel-2 owl-carousel owl-theme">
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-101.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-1.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-101.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-1.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-103.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-3.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-104.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-4.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-105.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-5.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-106.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-6.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-101.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-1.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-103.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-3.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-104.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-4.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-105.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-5.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-105.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-5.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-106.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-6.png" alt=" ">
									</a>
								</div>
							</div>
							<div class="item"> 
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-101.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-1.png" alt=" ">
									</a>
								</div>
								<div class="relative">
									<a href="#"> 
										<img class="normal-image" src="/img/partner/partner-103.png" alt=" ">
										<img class="color-image" src="/img/partner/partner-color-3.png" alt=" ">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- process-section -->
	<div class="member-section  pt70 pb70">
		<div class="container">
			<div class="section-title">
				<span>meet our</span>
				<h2>member</h2>
				<strong>m</strong>
			</div>
			<!-- section-title -->

			<div class="member-carousel owl-theme">
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-1.jpg" alt=""></div>	
					</div>
					<div class="member-info">
						<div class="cdf-client-name"><a href="#">Sujohn Maji</a></div>
						<div class="cdf-client-designation">CEO Specialist</div>
						<div class="cdf-icon">
							<i class="icon_upload"></i>
							<div class="member-social">
								<ul>
									<li><a href="#"><i class="social_facebook"></i></a></li>
									<li><a href="#"><i class="social_twitter"></i></a></li>
									<li><a href="#"><i class="social_googleplus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-2.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-3.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-1.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-3.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-1.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-1.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-2.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="item">
					<div class="cdf-member">
						<div class="cdf-image"><img src="/img/member/member-1.jpg" alt=""></div>
						<div class="member-info">
							<div class="cdf-client-name"><a href="#">Celia Maria</a></div>
							<div class="cdf-client-designation">CEO of Graphia</div>
							<div class="cdf-icon">
								<i class="icon_upload"></i>
								<div class="member-social">
									<ul>
										<li><a href="#"><i class="social_facebook"></i></a></li>
										<li><a href="#"><i class="social_twitter"></i></a></li>
										<li><a href="#"><i class="social_googleplus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- member-section  -->

	<div class="acheivement-section pt80 pb80">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="cdf-post">
						<div class="cdf-content">
							<div class="cdf-sub-title"><h3>REMARKABLE</h3></div>
							<div class="cdf-title mb30"><h2>ACHEIVEMENTS</h2></div>
							<div class="cdf-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua t enim ad minim consectetur.</p></div>
						</div>
					</div>
					<!-- cdf-post -->
				</div>
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-4">
							<div class="cdf-post">
								<div class="counter-item">
									<div class="cdf-image-icon pull-left">
										<img src="/img/acheivement/client-icon.png" alt="">
										<h2 class="counter">250</h2>
									</div>
									<!-- image -->
									<span>HAPPY CLIETNS</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="cdf-post">
								<div class="counter-item">		
									<div class="cdf-image-icon pull-left">
										<img src="/img/acheivement/acheivement-icon.png" alt="">
										<h2 class="counter">123</h2>		
									</div>
									<!-- image -->
									<span>PROJECTS DONE</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="cdf-post">
								<div class="counter-item">
									<div class="cdf-image-icon pull-left">
										<img src="/img/acheivement/success-icon.png" alt="">
										<h2 class="counter">125</h2>
									</div>						
									<!-- image -->
									<span>SUCCESS RATE</span>
								</div>
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- acheivement-section  -->
	
	<%- include ('partials/footer.ejs') %>

	<%- include ('partials/scripts.ejs') %>

	<!-- place page script files here, aka the dom manip scripts -->

</body>
</html>