<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog single</title>

	<meta name="description" content="SEO - is a Premium HTML Responsive Templeate by coderfirm Team.">
	<meta name="keywords" content="Premium HTML Template">
	<meta name="author" content="coderfirm">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- main css -->
	<link rel="stylesheet" type="text/css" href="/css/elegant-font.css">

	<!-- Bootstrap css	 -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
	<link rel="stylesheet" href="/owl.carousel/owl.carousel.css">
	<link rel="stylesheet" href="/owl.carousel/owl.theme.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">



</head>
<body>
	
	<header>
		<div class="header-top text-center clearfix">
			<div class="col-sm-3 col-xs-6">
				<div class="header-top-content socials ul-li border-right">
					<ul>
						<li><a href="#"><i aria-hidden="true" class="social_facebook"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_googleplus"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_twitter"></i></a></li>
						<li><a href="#"><i aria-hidden="true" class="social_tumbleupon"></i></a></li>
					</ul>
				</div>
			</div>
			<!-- socials -->
			<div class="col-sm-3 hidden-xs">
				<div class="header-top-content mail border-right dark-gray-clr">
					<span><i aria-hidden="true" class="icon_mail_alt green-clr mr10"></i> info@sitename.com</span>
				</div>
			</div>
			<!-- mail -->
			<div class="col-sm-3 hidden-xs">
				<div class="header-top-content phone border-right dark-gray-clr">
					<span><i aria-hidden="true" class="icon_phone green-clr mr10"></i> +(850) 856 5612</span>
				</div>
			</div>
			<!-- phone -->
			<div class="col-sm-3 col-xs-6">
				<div class="header-top-content user-login">
					<div class="lumsum">
						<img src="/img/User-icon.png" alt="">
						<a class="dropdown-toggle dark-gray-clr" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">username<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Dropdown link</a></li>
							<li><a href="#">Dropdown link</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- user-login -->
		</div>

		<div class="cdf-menu">
			<div class="container">
				<div class="logo pull-left">
					<a href="#"><img src="/img/logo/logo.png" alt="logo"></a>
				</div>
				<!-- logo -->
				<div class="main-menu hidden-xs pull-right">
					<nav id="seo-menu" class="pull-left">
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="responsive-icon">
							<ul class="nav navbar-nav text-center">
								<li><a target="" href="index.html" class="info">Home</a></li>
								<li><a target="" href="about.html">About</a></li>
								<li class="parent-item"><a  target="" href="case-details.html">service</a>
									<ul class="sub-menu">
										<li><a href=".html">Action</a></li>
										<li><a href=".html">Another action</a></li>
										<li><a href=".html">Something else here</a></li>
									</ul>
								</li>
								<li><a target="" href="cases.html">cases</a></li>
								<li><a target="" href="blog-single.html">pages</a></li>
								<li><a target="" href="blog.html">blog</a></li>
								<li><a target="" href="contact.html">contact</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
					<!-- /#seo-menu -->

					<div class="cdf-search-button pull-left">
					<div id="sb-search" class="sb-search " >
					    <form>
						        <input class="sb-search-input " onkeyup="buttonUp();" placeholder="search here..." onblur="monkey();" type="search" value="" name="search" id="search">
						        <button class="search-submit" type="submit"  value=""><i class="icon_search"></i></button>
						        <span class="sb-icon-search"><i class="icon_search"></i><i class="icon_close"></i></span>
					    </form>
					</div>
						<a href="#">get audit</a>
					</div>
				</div>
				<!-- MAIN MENU END -->

				<div class="cdf-header">
					<div class="burger-container">
						<div id="burger">
							<div class="bar topBar"></div>
							<div class="bar btmBar"></div>
						</div>
					</div>
					<ul class="menu">
						<li class="menu-item"><a href="index-2.html">Home Page 2</a></li>
						<li class="menu-item"><a href="about.html">About</a></li>
						<li class="menu-item"><a href="404.html">Service</a></li>
						<li class="menu-item"><a href="case.html">Case</a></li>
						<li class="menu-item"><a href="case-details.html">Case Detail</a></li>
						<li class="menu-item"><a href="blog.html">Blog</a></li>
						<li class="menu-item"><a href="blog-single.html">Blog Single</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>



	<div class="page-breadcrumb">
		<div class="breadcrumb-overlay">
			<div class="container">
				<div class="row">
					<div class="cdf-breadcrumb ul-li text-center">
						<ul>
							<li><a title="Home" href="#">Home</a></li>
							<li class="active"><i class="arrow_carrot-2right" aria-hidden="true"></i>Blog single</li>
						</ul>
						<div class="page-header"><h2>Blog Details</h2></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="single-page pt70 pb70">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<article class="mb80">
						<div class="single-post">
							<div class="cdf-image mb40 img-effect-1">
								<img src="/img/blog/blog-single-image.jpg" alt="">
								<figcaption></figcaption>
							</div>
							<div class="cdf-single-meta ul-li mb15">
								<ul>
									<li class="admin"><strong>Written</strong> by Sujonmaji</li>
									<li class="post-time"> 15th Aug, 2016</li>
								</ul>
							</div>
							<div class="cdf-title mb20">
								<h2><a href="#">Lorem lpsum dolor soiltp amet consectetur adipisicing tempor incididunt fugiat</a></h2>
							</div>

							<div class="cdf-text">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris magni dolores quis nostrud exercitation. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut laboreipsam nostrud exercitation ullamco amet consectetur adipisicing.</p>
								<p>Porem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris magni dolores quis nostrud exercitation. Lorem ipsum dolor sit amet consectetur adipisicing.</p>

								<blockquote>
									<span></span>Lorem ipsum dolor sit amet, consectetur dolor adipisicing dolor  elit, dosed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
								</blockquote>

								<p>Morem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris magni dolores quis nostrud exercitation. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut laboreipsam nostrud exercitation ullamco amet consectetur adipisicing. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


								<div class="cdf-tag-social ul-li clearfix mb50">
										<div class="cdf-tag col-sm-7 pt10">
											<span class="pull-left mr5">tags : </span>
											<ul class="">
												<li><a href="#">SEO</a></li>
												<li><a href="#">Adwords</a></li>
												<li><a href="#">Social</a></li>
												<li><a href="#">Media</a></li>
											</ul>
										</div>
										<div class="social-share text-right ul-li col-sm-5">
											<ul>
												<li><a href="#"><i class="social_facebook"></i></a></li>
												<li><a href="#"><i class="social_twitter"></i></a></li>
												<li><a href="#"><i class="social_googleplus"></i></a></li>
												<li><a href="#"><i class="social_tumblr"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="related-post clearfix">
								<div class="cdf-post prev-post col-sm-6 padding0">
									<div class="cdf-image pull-left mr20"><img src="/img/blog/related-image1.jpg" alt=""></div>
									<div class="cdf-content">
										<div class="cdf-title mb10"><h2><a href="#">Lorem ipsum dolor sit amep consectetur</a></h2></div>
										<div class="cdf-link"><a href="#"><i class="arrow_triangle-left_alt mr5"></i> Preveous</a></div>
									</div>
								</div>
								<div class="cdf-post prev-post col-sm-6 padding0">
									<div class="cdf-image pull-right ml20"><img src="/img/blog/related-image1.jpg" alt=""></div>
									<div class="cdf-content text-right">
										<div class="cdf-title mb10"><h2><a href="#">Lorem ipsum dolor sit consectetur</a></h2></div>
										<div class="cdf-link"><a href="#">Next <i class="arrow_triangle-right_alt ml5"></i></a></div>
									</div>
								</div>
							</div>
							<!-- related-post -->
							<div class="post-author clearfix  mb40">
								<div class="author-meta clearfix">
									<div class="author-meta-avatar pull-left mr10">
										<a href="#"><img src="/img/blog/author.jpg" alt=""></a>
									</div>
									<div class="author-meta-content">
										<div class="author-meta-heading clearfix">
											<div class="author-name-designation pull-left mb10">
												<div class="cdf-author-name"><h2><a href="#">Celia Maria</a></h2></div>
												<div class="cdf-author-designation">CEO of Graphia</div>
											</div>
											<div class="author-social-links ul-li pull-right">
												<ul>
													<li><a href="#"><i class="social_facebook"></i></a></li>
													<li><a href="#"><i class="social_twitter"></i></a></li>
													<li><a href="#"><i class="social_googleplus"></i></a></li>
													<li><a href="#"><i class="social_tumblr"></i></a></li>
												</ul>
											</div>
											<!-- .author-links-wrap -->
										</div>
										<div class="cdf-text">
											<p>Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- post-author -->
							<div class="post-comments-area padding-top80">
								<h3 class="sub-title padding-bottom50"> Comments [03]</h3>
								<ul class="comments-list">
									<li class="parent">
										<div class="comments-img">
											<img class="img-responsive" src="/img/blog/author.jpg" alt="Post Iamge">
										</div>
										<div class="comments-txt dark-bg content-box">
											<div class="author mb10">
												<a href="#" class="">Cynthia </a> 
												<span>23 Aug, 2016</span>
											</div>
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
											<a href="#" class="reply mt20"><i class="arrow_back"></i></a>
										</div>
									</li>
									<li class="children">
										<div class="comments-img">
											<img class="img-responsive" src="/img/blog/author.jpg" alt="Post Iamge">
										</div>
										<div class="comments-txt dark-bg content-box">
											<div class="author mb10">
												<a href="#" class="">Gio Riveris</a>
												<span>23 Aug, 2016</span>
											</div>
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
											<a href="#" class="reply mt20"><i class="arrow_back"></i></a>
										</div>
									</li>
									<li class="parent">
										<div class="comments-img">
											<img class="img-responsive" src="/img/blog/author.jpg" alt="Post Iamge">
										</div>
										<div class="comments-txt dark-bg content-box">
											<div class="author mb10">
												<a href="#" class="">Eva Eden</a> 
												<span>23 Aug, 2016</span>
											</div>
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
											<a href="#" class="reply mt20"><i class="arrow_back"></i></a>
										</div>
									</li>
								</ul>
							</div><!-- /.post-comments-area -->
							<div id="leave-comment" class="pb80">
								<div class="cdf-title mb30">
									<h2>LEAVE A REPLY</h2>
								</div>
								<form action="php/contact-form.php" method="post" id="contact-form" name="contact-form">
									<div class="contact-form-inner mb80">
										<div class="row">
											<div class="contact-form-field col-md-6">
												<input type="text" name="name" id="contact-form-name" placeholder="Name*">
												<input type="text" name="email" id="contact-form-email" placeholder="Mail*">
												<input type="text" name="web" id="contact-form-phone" placeholder="Website">
											</div>
											<div class="contact-form-field col-md-6">
											
										
											<textarea id="contact-form-message" rows="5" placeholder="Type your message...."></textarea>
											<div class="cdf-btn cdf-btn-one submit">
												<button type="submit">SEND MESSAGE</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</article>
					</div>
					<div class="col-sm-4">
						<div class="side-bar">
							<div class="search side-bar-widget">
								<form action="#" method="get" class="side-bar-search newsletter">
									<input type="text" class="" placeholder="Search">
									<button type="submit"><i class="icon_search"></i></button>
								</form>
							</div>
							<!-- search -->
							<div class="cdf-category side-bar-widget">
								<div class="widget-title mb20">
									<h2>Category</h2>
								</div>
								<!-- title -->
								<div class="cdf-category-list ul-li ul-li-block">
									<ul class="list-group">
										<li class="list-group-item"><a href="#">Search Engine </a><span class="badge">(14)</span></li>
										<li class="list-group-item"><a href="#">Web Design </a><span class="badge">(20)</span></li>
										<li class="list-group-item"><a href="#">Keyword Research </a><span class="badge">(21)</span></li>
										<li class="list-group-item"><a href="#">Social Medeae </a><span class="badge">(09)</span></li>
										<li class="list-group-item"><a href="#">Page Rank </a><span class="badge">(05)</span></li>
									</ul>
								</div>
							</div>
							<!-- cdf-category  -->
							<div class="recent-post side-bar-widget">
								<div class="widget-title mb20">
									<h2>Recent Post</h2>
								</div>
								<!-- title -->
								<div class="recent-post ul-li-block">
									<ul>
										<li>
											<div class="cdf-image pull-left mr12">
												<img src="/img/footer/post-image-1.jpg" alt="">
												<div class="cdf-icon"><i class="icon_link"></i></div>
												<div class="ovrly"></div>
											</div>
											<div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
											<ul class="post-meta">
												<li><a href="#">AUG 19,2016 </a></li>
											</ul>
										</li>
										<li>
											<div class="cdf-image pull-left mr12">
												<img src="/img/footer/post-image-2.jpg" alt="">
												<div class="cdf-icon"><i class="icon_link"></i></div>
												<div class="ovrly"></div>
											</div>
											<div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
											<ul class="post-meta">
												<li><a href="#">AUG 19,2016 </a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<!-- recent post -->
							<div class="tags side-bar-widget">
								<div class="widget-title mb20">
									<h2>Recent Post</h2>
								</div>
								<!-- title -->
								<div class="cdf-tag ul-li">
									<ul>
										<li><a href="#">Analytics</a></li>
										<li><a href="#">Optimization</a></li>
										<li><a href="#">Keywords</a></li>
										<li><a href="#">Affiliation</a></li>
										<li><a href="#">Networks</a></li>
										<li><a href="#">Page Rank</a></li>
										<li><a href="#">Google</a></li>
										<li><a href="#">Adwords</a></li>
										<li><a href="#">Social Medea</a></li>
									</ul>
								</div>
							</div>
							<!-- search -->
						</div>
					</div>
				</div>
			</div>
		</div>


	<footer>
		<div class="footer-widget-section">
			<div class="footer-overlay">
				<div class="container">
					<div class="row">
						<div class="footer-logo text-center mb70"><a href="#"><img src="/img/footer/logo.png" alt="logo"></a></div>
						<div class="col-md-3 col-xs-6  iphone5-full-width">
							<div class="footer-widget about-us">
								<div class="footer-widget-title">
									<h2>about us</h2>
								</div>
								<div class="footer-widget-text margin-bottom20">
									<p>Lorem ipsum dolor sit amet labore dolor consectetur adipisicing elit sed do eiusmod tempor incididunt ut.</p>
								</div>
								<!-- footer-widget-text -->
								<div class="address margin-bottom20 ul-li-block">
									<ul>
										<li class="address"><a href="#"><i class="icon_pin_alt"></i>35 North Road, NY</a></li>
										<li class="phone"><a href="#"><i class="icon_phone"></i>+(550) 325 2567</a></li>
										<li class="mail"><a href="#"><i class="icon_mail_alt"></i>info@sitename.com</a></li>
									</ul>
								</div>
								<!-- footer-widget-address -->
							</div>
						</div>
						<!-- col-md-3 col-sm-6 -->

						<div class="col-md-3 col-xs-6 iphone5-full-width">
							<div class="footer-widget widget-link-list">
								<div class="footer-widget-title">
									<h2>quick links</h2>
								</div>
								<div class="quick-link ul-li-block">
									<ul>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Faq & Help</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Privacy Policy</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>9 Payment Method</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Sitemap</a></li>
										<li><a href="#"><i class="arrow_carrot-2right"></i>Terms & Condition</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 col-sm-6 -->
						<div class="col-md-3 col-xs-6 pr0 mobile-full-width">
							<div class="footer-widget">
								<div class="footer-widget-title">
									<h2>RECENT POSTS</h2>
								</div>
								<div class="recent-post ul-li-block">
									<ul>
										<li>
											<div class="cdf-image pull-left mr12">
												<img src="/img/footer/post-image-1.jpg" alt="">
												<div class="cdf-icon"><i class="icon_link"></i></div>
												<div class="ovrly"></div>
											</div>
											<div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
											<ul class="post-meta">
												<li><a href="#">AUG 19,2016 </a></li>
											</ul>
										</li>
										<li>
											<div class="cdf-image pull-left mr12">
												<img src="/img/footer/post-image-2.jpg" alt="">
												<div class="cdf-icon"><i class="icon_link"></i></div>
												<div class="ovrly"></div>
											</div>
											<div class="cdf-title mb15"><h2><a href="#">Lorem Ipsum Dolor Site amet Consectetur Site amet</a></h2></div>
											<ul class="post-meta">
												<li><a href="#">AUG 19,2016 </a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 col-sm-6 -->
						<div class="col-md-3 col-xs-6  mobile-full-width">
							<div class="footer-widget news-letter">
								<div class="footer-widget-title">
									<h2>newsletter</h2>
								</div>
								<div class="footer-widget-text margin-bottom20">
									<p>Get Newsletter Updates eventually!</p>
								</div>
								<form action="#" method="get" class="newsletter">
									<div class="form-group ">                                     
										<input type="email" name="email" placeholder="E-mail" class="form-control"> 
										<button type="submit"><i class="arrow_right"></i></button>
									</div>
								</form>
								<div class="social mt50 ul-li">
									<ul>
										<li><a href=""><i class="social_facebook"></i></a></li>
										<li><a href=""><i class="social_twitter"></i></a></li>
										<li><a href=""><i class="social_googleplus"></i></a></li>
										<li><a href=""><i class="social_tumblr"></i></a></li>
									</ul>
								</div>
								<!-- footer-widget-social -->
							</div>

						</div>
						<!-- col-md-3 col-sm-6 -->
					</div> 
				</div>
				<div class="footer-bottom">
					<div class="container">
						<div class="Copyright text-center"><p><span>WOLFSEO</span> designed by <a href="">CODER  FIRM </a>Copyright &copy; 2016. All right reserved. </p></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
        <!-- Vendor js -->
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap js  -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- Owl carousel  -->
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>   
    <!--  countdown  -->
    <script type="text/javascript" src="/js/jquery.countdown.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="/js/waypoints.min.js"></script>
    <!--  magnific  -->
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/js/mixitup.min.js"></script>

<script src="/js/jquery.themepunch.revolution.min.js"></script>
<script src="/js/jquery.themepunch.tools.min.js"></script>
<script src="/js/revolution.extension.slideanims.min.js"></script>
<script src="/js/revolution.extension.layeranimation.min.js"></script>
<script src="/js/revolution-slider.js"></script>
<!-- main js -->
<script src="/js/scripts.js"></script>


</body>
</html>