<!doctype html>
<html lang="en">
<head>
	<%- include ('partials/meta.ejs') %>
	<link rel="stylesheet" href="/css/create.css">
</head>
<body>
	<%- include ('partials/header.ejs') %>
    <div class="breadcrumb-overlay">
        <div class="container">
            <div class="row">
                <div class="cdf-breadcrumb ul-li text-center">
                    <div class="section-title">
                        <span>let's build the DB!</span>
                        <h2>log a bird</h2>
                        <strong>birDB</strong>
                    </div>
                    <!-- <div class="font" style="color: white; font-size: 65px;" >Tweetr</div> -->
                </div>
            </div>
        </div>
    </div>
	<div class="container">
		<div class="row text-center">
			<div class="col-12">
				<form action="/create" enctype="multipart/form-data" method="POST">
					<input type="text" class="form-control form-font" name="title" placeholder="Post Title"><br>
					<input type="text" class="form-control form-font" name="common" placeholder="Common Name"><br>
					<input type="text" class="form-control form-font" name="scientific" placeholder="Scientific Name"><br>
					<input type="text" class="form-control form-font" name="location" placeholder="Location"><br>
					<input type="text" class="form-control form-font" name="precip" placeholder="Precipitation"><br>
					<input type="text" class="form-control form-font" name="temp" placeholder="Temperature"><br>
					<input type="text" class="form-control form-font" name="cloud" placeholder="Cloud Cover"><br>
					<textarea type="text" class="form-control form-font" name="observation" placeholder="Observations" rows="4"></textarea>
					<br>
					<label for="file-upload" class="custom-file-upload">Upload A Photo</label>
					<input id="file-upload" type="file" name="upload" multiple="multiple">
					<br>
					<br>
					<label for="log-that-bird" class="custom-file-upload">Log That Bird!</label>
					<input id="log-that-bird" type="submit" value="Log That Bird!">
					<br>
					<br>
					<br>
				</form>
			</div>
		</div>
	</div>
<%- include ('partials/footer.ejs') %>
<%- include ('partials/scripts.ejs') %>
<!-- <scripts src="/js/birDB/createClient.js"></scripts> -->
</body>
</html>