<!doctype html>
<html lang="en">
<head>
<%- include ('partials/meta.ejs') %> 
</head>
<body>
	<%- include ('partials/header.ejs') %>

    create post form

    <%- include ('partials/footer.ejs') %>

	<%- include ('partials/scripts.ejs') %>

	<!-- place page script files here, aka the dom manip scripts or the form submission -->

</body>	
</html>