.chooseBtn{
    background-color: green;
}
.submitBtn{
    background-color: green;
    color: white;
}
input[type="file"] {
    display: none;
}
input[type="submit"] {
    display: none;
}
textarea{
    resize: vertical;
}
.custom-file-upload {
    background-color: #027373;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.form-font{
    font-family: 'Courier New', Courier, monospace;
}